-if Rails.env.production?
  / Global site tag (gtag.js) - Google Analytics
  %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-114917115-1"}
  :javascript
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-114917115-1');
