- if @headData
  - headData = @headData
- else
  - headData = {}
%meta{charset: "utf-8"}
%title= headData['title'] || 'Академия Семейного Благополучия'
%meta{property: "og:title", content: headData['title'] || 'Академия Семейного Благополучия'}

%meta{name: "viewport", content: "width=device-width", "initial-scale": 1, "shrink-to-fit": "no"}
%meta{"http-equiv": "X-UA-Compatible", content: "IE=edge"}
%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
-if Rails.env.production?
  %meta{name: "yandex-verification", content: "20ea61df2279b4f7"}


- if headData['meta_keywords']
  %meta{name: 'Keywords', content: headData['meta_keywords']}
%meta{property: "og:type", content: headData['type'] || 'website'}

%meta{property: "og:url", content: headData['url'] || request.url}
%meta{property: "url", itemprop: headData['url'] || request.url}

%meta{name: 'Description', content: headData['desc'] || ''}
%meta{property: "og:description", content: headData['desc'] || ''}
%meta{name: "description", content: headData['desc'] || ''}
%meta{itemprop: "description", content: headData['desc'] || ''}

%meta{property: "og:image", content: headData['image'] || image_url("bg.jpg")}
%meta{itemprop: "image", content: headData['image'] || image_url("bg.jpg")}
%meta{rel: "image_src", href: headData['image'] || image_url("bg.jpg")}

%meta{property: "og:site_name", content: "Академия Семейного Благополучия", }/
%meta{itemprop: "name", content: "Академия Семейного Благополучия"}/

%meta{:content => "all", :name => "robots"}/

-if headData['title'] == 'Славянский базар 2018'
  %script{:type => "application/ld+json"}
    {
    "@context": "http://www.schema.org",
    "@type": "Event",
    "name": "Славянский базар 2018",
    "image": "https://fam-academy.ru/assets/landings/slavBazar/header-85c20df494f02b8b0aa33a30dbe712c8a6a13bafe60d909380e8d252f3902433.jpg",
    "url": "https://fam-academy.ru/slav-bazar",
    "description": "В конце марта в Тюмени пройдет всероссийский фестиваль русской народной культуры «Славянский базар - 2018». В рамках двухдневного праздника запланированы более 150 мероприятий, начиная с выступлений творческих коллективов, заканчивая играми и показами традиционных костюмов. Здесь же состоятся множество мастер-классов, которые понравятся и взрослым, и малышам. Чего только стоит МК по ткачеству, где каждый внесет свою лепту в создание длинного-предлинного половика! Кроме того, горожане посетят множество полезных лекций и семинаров, приобретут безвредные продукты и сладости.",
    "startDate": "03/24/2018",
    "endDate": "03/25/2018",
    "location": {
    "@type": "Place",
    "name": "Тюменский технопарк",
    "address": {
    "@type": "PostalAddress",
    "streetAddress": " Республики, 142",
    "addressLocality": "Тюмень",
    "addressCountry": "Russia"
    }
    }
    }

-if headData['title'] == 'Красная горка 2018'
  %script{:type => "application/ld+json"}
    {
    "@context": "http://www.schema.org",
    "@type": "Event",
    "name": "Красная горка 2018",
    "image": "https://fam-academy.ru/assets/landings/krasnayaGorka/header-094d63ece4171d053497fd7b591f3255d7c1e476fae769aa98419dc531e3744f.jpg",
    "url": "https://fam-academy.ru/krasnaya-gorka",
    "description": "Красная горка – душевный праздник победы весны над зимой, первое общее гулянье потеплу, по оттаявшей земле! Первые встречи с землёй, начинающей пробуждаться, с растениями, в которых начинают шевелиться соки жизни, с друзьями-знакомыми-роднёй, охмелевшими от первого солнца, весеннего воздуха, открывающихся просторов и перспектив.",
    "startDate": "04/21/2018",
    "endDate": "04/21/2018",
    "location": {
    "@type": "Place",
    "name": "Тюменский технопарк",
    "address": {
    "@type": "PostalAddress",
    "streetAddress": " Республики, 142",
    "addressLocality": "Тюмень",
    "addressCountry": "Russia"
    }
    }
    }

- if headData['type'] == 'article'
  %script{:type => "application/ld+json"}
    {
    "@context": "http://schema.org",
    "@type": "Article",
    "headline": "#{headData["title"]}",
    "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "#{headData["url"]}"
    },
    "image": {
    "@type": "ImageObject",
    "url": "#{headData["image"]}"
    },
    "author": {
    "@type": "NGO",
    "name": "Академия Семейного Благополучия"
    },
    "datePublished": "#{headData["created_at"]}",
    "dateModified": "#{headData["updated_at"]}",
    "publisher": {
    "@type": "Organization",
    "name": "Академия Семейного Благополучия",
    "logo": {
    "@type": "ImageObject",
    "url": "https://fam-academy.ru/assets/logo1-3a2a5e15bc2d2806602128401f5eab101e54a2a842d2a14eace1370bc02b4cbb.png"
    }
    }
    }
%script{:type => "application/ld+json"}
  {
  "@context": "http://www.schema.org",
  "@type": "NGO",
  "name": "Академия Семейного Благополучия",
  "url": "https://fam-academy.ru",
  "logo": "https://fam-academy.ru/assets/logo1-3a2a5e15bc2d2806602128401f5eab101e54a2a842d2a14eace1370bc02b4cbb.png",
  "image": "https://fam-academy.ru/assets/bg-4ceb0beab6f5690f7a433d9bb5dfbf73bc819223ad12137fd25c3a60a74ff004.jpg",
  "description": "Мы помогаем настраивать и поддерживать семейное благополучие на всех этапах развития семьи, очно для тюменцев и по скайпу для всего русскоязычного мира",
  "address": {
  "@type": "PostalAddress",
  "streetAddress": "Пароходская 11",
  "addressLocality": "Тюмень",
  "addressRegion": "Тюменская область",
  "postalCode": "625002",
  "addressCountry": "Россия"
  }
  }
