-if Rails.env.production?
  / Yandex.Metrika counter
  :javascript
    (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter47555026 = new Ya.Metrika({ id:47555026, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
  %noscript#yandexMetrikaStyle
    %div
      %img{:alt => "", :src => "https://mc.yandex.ru/watch/47555026"}/
  / /Yandex.Metrika counter
