= form_for @admin_member do |f|
  - if @admin_member.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_member.errors.count, "error")} prohibited this admin_member from being saved:"
      %ul
        - @admin_member.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :surname
    = f.text_field :surname
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :payment_method
    = f.text_field :payment_method
  .field
    = f.label :social_link
    = f.text_field :social_link
  .field
    = f.label :expiration_date
    = f.datetime_select :expiration_date
  .field
    = f.label :last_pyment_date
    = f.datetime_select :last_pyment_date
  .field
    = f.label :total_payment
    = f.number_field :total_payment
  .field
    = f.label :status
    = f.text_field :status
  .actions
    = f.submit 'Save'
