%h1 Список Членов Сообщества

%table.table.table-responsive
  %thead
    %tr
      %th ФИО
      -# %th Статус
      %th Дата последнего взноса
      %th Итоговая сумма
      %th
      -# %th
      %th

  %tbody
    - @admin_members.each do |admin_member|
      %tr
        %td= admin_member.last_name + ' ' + admin_member.first_name + ' ' + admin_member.patronymic
        -# %td= admin_member.get_localize_status
        %td= admin_member.last_payment.date.strftime("%d.%m.%Y") if admin_member.last_payment
        %td= admin_member.total_payment
        %td
          %button.btn.btn-primary.add_pyment_btn{"data-target" => "#add_payment_modal", "data-toggle" => "modal", :type => "button", member: admin_member.id}
            Добавить оплату
        %td= link_to 'Посмотреть', admin_member
        -# %td= link_to 'Редактировать', edit_admin_member_path(admin_member)
        %td= link_to 'Удалить', admin_member, method: :delete, data: { confirm: 'Are you sure?' }
