%p#notice= notice

%p
  %b ФИО:
  = @admin_member.last_name + ' ' + @admin_member.first_name + ' ' + @admin_member.patronymic

%p
  %b Телефон:
  = @admin_member.phone
%p
  %b Email:
  = @admin_member.email
%p
  %b Метод оплаты:
  = @admin_member.get_payment_method_type
%p
  %b Ссылка на соц. сеть:
  = @admin_member.social_link
%p
  %b Дата последнего платежа:
  = @admin_member.last_pyment_date
%p
  %b Суммарный взнос:
  = @admin_member.total_payment

%p
  %b История платежей:
%table.table.table-responsive
  %thead
    %tr
      %th Дата оплаты
      %th Сумма
      %th Способ оплаты

  %tbody
    - @admin_member.payments.each do |payment|
      %tr
        %td= payment.date.strftime("%d.%m.%Y")
        %td= payment.sum
        %td= payment.get_payment_method_type
