@font-face {
    font-family: 'Mont Demo';
    src: local('Mont ExtraLight DEMO'), local('Mont-ExtraLightDEMO'), url('Montextralightdemo.woff2') format('woff2'), url('Montextralightdemo.woff') format('woff'), url('Montextralightdemo.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Mont Demo';
    src: local('Mont Heavy DEMO'), local('Mont-HeavyDEMO'), url('Montheavydemo.woff2') format('woff2'), url('Montheavydemo.woff') format('woff'), url('Montheavydemo.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
