%h1 Редактирование видеоальбома

= render 'form'

.row.mb-2
  .col-12.video.d-flex.align-items-center.justify-content-center#newVideo{"data-toggle": "modal", "data-target": "#addVideoModal"}
    %div.text-center.my-3
      %p.h2.mt-0
        %b +
      %p.h2.m-0 Новое видео
.row#videosList
  = render @videos
