%h1 Видеоальбомы

= link_to 'Создать видеоальбом', new_admin_video_album_path
%table.table.table-responsive
  %thead
    %tr
      %th Название
      %th Кол-во видео
      %th Просмотров
      %th
      %th
      %th

  %tbody
    - @admin_video_albums.each do |admin_video_album|
      %tr
        %td= admin_video_album.title
        %td= admin_video_album.videos.count
        %td= admin_video_album.views
        %td= link_to 'Посмотреть', admin_video_album
        - if can? :edit, admin_video_album
          %td= link_to 'Редактировать', edit_admin_video_album_path(admin_video_album)
        - if can? :destroy, admin_video_album
          %td= link_to 'Удалить', admin_video_album, method: :delete, data: { confirm: 'Are you sure?' }

%br
