%p
  %b Название:
  = @admin_video_album.title
%p
  %b Главное изображение
  = image_tag @admin_video_album.main_image.small
%p
  %b Описание:
  = @admin_video_album.desc
%p
  %b Кол-во просмотров:
  = @admin_video_album.views

= link_to 'Редактировать', edit_admin_video_album_path(@admin_video_album)
\|
= link_to 'Вернуться к списку видеоальбомов', admin_video_albums_path
