- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    = link_to omniauth_authorize_path(resource_name, provider), class: 'btn sign-in_vkontakte text-white btn-block' do
      %i.fab.fa-vk
      Войти через ВКонтакте
    %br/

- if controller_name != 'sessions'
  %span.text-secondary Уже есть аккаунт?
  = link_to "Войти", new_session_path(resource_name)
  %br/
- if devise_mapping.registerable? && controller_name != 'registrations'
  %span.text-secondary Нет аккаунта?
  = link_to "Создать аккаунт", new_registration_path(resource_name)
  %br/
- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  = link_to "Forgot your password?", new_password_path(resource_name)
  %br/
- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)
  %br/
- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name)
  %br/


-# - if devise_mapping.omniauthable?
-#   - resource_class.omniauth_providers.each do |provider|
-#     = link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider)
-#     %br/

-# = link_to omniauth_authorize_path(resource_name, 'vkontakte') do
-#   %button.btn.sign-in_vkontakte
-#     %i.fab.fa-vk
-#     Войти через ВКонтакте
