= form_for @admin_article, authenticity_token: true do |f|
  - if @admin_article.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_article.errors.count, "error")} prohibited this admin_article from being saved:"
      %ul
        - @admin_article.errors.full_messages.each do |message|
          %li= message
  - if current_user.role == 'author'
    = f.hidden_field :author_id, value: current_user.id
  .field.form-group
    = f.label 'Название'
    = f.text_field :title, class: 'form-control'
  .field.form-group
    = f.label 'Главная картинка'
    = f.file_field :header, class: 'form-control'
  .field.form-group
    = f.label 'Контент'
    = f.text_area :content, class: 'redactor'
  .field.form-group
    = f.label 'Краткое описание'
    = f.text_area :desc, class: 'form-control', rows: 3
  - if current_user.role != 'author'
    .field.form-group
      = f.label 'Автор'
      = select("admin_article", "author_id", User.where(writer: true).map{|u| [u.email, u.id]}, {prompt: 'Выберите пользователя'}, { class: 'form-control' })
  .field.form-group
    = f.label 'Тип поста'
    = select("admin_article", "type", [['Статья','article'],['Новость','news']], {prompt: 'Тип'}, { class: 'form-control' })
  .actions.form-group
    = f.submit 'Сохранить', class: 'btn btn-primary'
