%h1 Посты
= link_to 'Создать пост', new_admin_article_path
%table.table.table-responsive
  %thead
    %tr
      %th Название
      %th Автор
      %th Тип
      %th
      %th
      %th
      %th

  %tbody
    - @admin_articles.each do |admin_article|
      %tr{id: admin_article.id}
        %td= admin_article.title
        %td
          -if admin_article.author
            = link_to admin_user_path(admin_article.author) do
              #{admin_article.author.try(:name)} #{admin_article.author.try(:surname)}
        %td= admin_article.type == 'article' ? 'Статья' : 'Новость'
        - if current_user.accepted || current_user.role == 'moderator' || current_user.role == 'admin'
          %td
            %button.change_archive.btn.btn-link= admin_article.archive ? 'Опубликовать' : 'Добавить в архив'

        %td= link_to 'Просмотреть', admin_article_path(admin_article)
        - if can? :edit, admin_article
          %td= link_to 'Редактировать', edit_admin_article_path(admin_article)
        - if can? :destroy, admin_article
          %td= link_to 'Удалить', admin_article, method: :delete, data: { confirm: 'Уверены? Действие необратимо' }

%br
