.container
  %h1.my-3= @admin_article.title

  .my-3
    = link_to 'Редактировать', edit_admin_article_path(@admin_article)
    \|
    = link_to 'Все статьи', admin_articles_path

  %ul#myTab.nav.nav-tabs{:role => "tablist"}
    %li.nav-item
      %a#content-tab.nav-link.active{"aria-controls" => "content", "aria-selected" => "true", "data-toggle" => "tab", :href => "#content", :role => "tab"} Контент
    %li.nav-item
      %a#desc-tab.nav-link{"aria-controls" => "desc", "aria-selected" => "false", "data-toggle" => "tab", :href => "#desc", :role => "tab"} Описание
  #myTabContent.tab-content.p-3
    #content.tab-pane.fade.show.active{"aria-labelledby" => "home-tab", :role => "tabpanel"}
      .preview-content.p-5
        = raw @admin_article.content
    #desc.tab-pane.fade{"aria-labelledby" => "profile-tab", :role => "tabpanel"}
      %p
        %b Главная картинка
        = image_tag @admin_article.header.small, class: 'img-fluid'
      %p
        %b Автор:
        = link_to admin_user_path(@admin_article.author) do
          #{@admin_article.author.try(:name)} #{@admin_article.author.try(:surname)}
      %p
        %b Тип поста:
        = @admin_article.type
