= form_tag "/api/upload_image", method: :post, class: "dropzone", id: "media-dropzone" do
  -# %input{name: "authenticity_token", type: "hidden", value: form_authenticity_token}
  -if defined? photo_album
    %input{:name => "photo_album", :type => "hidden", :value => photo_album}/
  -if defined? master
    %input{:name => "master", :type => "hidden", :value => master}/
  .fallback
    = file_field_tag "image", multiple: true
