= form_for @admin_master do |f|
  - if @admin_master.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_master.errors.count, "error")} prohibited this admin_master from being saved:"
      %ul
        - @admin_master.errors.full_messages.each do |message|
          %li= message

  .field.form-group
    = f.label 'Фамилия'
    = f.text_field :last_name, class: 'form-control'
  .field.form-group
    = f.label 'Имя'
    = f.text_field :first_name, class: 'form-control'
  .field.form-group
    = f.label 'Отчество'
    = f.text_field :patronymic, class: 'form-control'
  %hr
  .field.form-group
    = f.label 'Фото мастера'
    = f.file_field :profile_image, class: 'form-control'
  .field.form-group
    = f.label 'О Мастере'
    = f.text_area :about, class: 'redactor'
  .actions.form-group
    = f.submit 'Сохранить', class: 'btn btn-primary'
