%h1 Редактирование мастера

= render 'form'

%hr
.row.mb-4
  .col-2.col-form-label
    Загрузить изображения
  .col-10
    = render 'admin/dropzone', master: @admin_master.id
#sortableGrid.row
  -@images.each do |image|
    .col-3.image{id: image.id, class: (image.archive ? 'archived' : '')}
      .card{class: (image.main_image ? 'border-primary' : '')}
        =image_tag image.image, class: 'card-img-top'
        .card-body
          -# %button.btn.btn-link.editInfo{"data-target" => "#editInfoModal", "data-toggle" => "modal", :type => "button"} Редактировать
          -# %button.btn.btn-link.setMainImage{class: (image.main_image ? 'd-none' : '')} Сделать главной
          -# - if image.archive
          -#   %button.btn.btn-link.archiveImage Достать из архива
          -# - else
          -#   %button.btn.btn-link.archiveImage Добавить в архив
          %button.btn.btn-link.deleteImage Удалить
