%h1 Список Мастеров

= link_to 'Создать мастера', new_admin_master_path
%table.table.table-responsive
  %thead
    %tr
      %th Фото
      %th ФИО
      %th
      %th
      %th

  %tbody
    - @admin_masters.each do |admin_master|
      %tr
        %td= image_tag admin_master.profile_image.thumb, class: 'img-fluid', width: 50
        %td= admin_master.last_name + ' ' + admin_master.first_name + ' ' + admin_master.patronymic
        %td= link_to 'Посмотреть', admin_master
        %td= link_to 'Редактировать', edit_admin_master_path(admin_master)
        %td= link_to 'Удалить', admin_master, method: :delete, data: { confirm: 'Are you sure?' }
