= image_tag @admin_master.profile_image.thumb, class: 'img-fluid'

%p
  %b ФИО:
  = @admin_master.last_name + ' ' + @admin_master.first_name + ' ' + @admin_master.patronymic
%p
  %b О Мастере:
  = raw @admin_master.about

= link_to 'Редактировать', edit_admin_master_path(@admin_master)
\|
= link_to 'Назад', admin_masters_path
