@font-face {
    font-family: 'Tangak';
    src: local('tangak'), url('Tangak.woff2') format('woff2'), url('Tangak.woff') format('woff'), url('Tangak.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
