var elem = $('#<%= @video.id %>')
$('#editVideoModal').modal('hide');
$("<%= j render(partial: 'admin/videos/video', locals: { :object => @video }) %>").insertAfter(elem);
elem.remove()
toastr.success('Видео Отредактировано')
