@font-face {
    font-family: 'Ardeco';
    src: local('Ardeco'), url('Ardeco.woff2') format('woff2'), url('Ardeco.woff') format('woff'), url('Ardeco.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
