// Place all the styles related to the Admin::VideoAlbums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#newVideo{
  border: 3px dashed gray;
  // height: 100px;
  border-radius: 20px;
  transition: border-color .25s ease, color .25s ease;
  &:hover{
    cursor: pointer;
    border-color: rgb(27, 152, 199);
    color: rgb(27, 152, 199);
  }
}
