.bg_pattern
  .container
    .row.py-5
      .col-md-8.offset-md-2.bg_close-white.card.p-5
        .row
          .col-md-8.offset-md-2
            %h2.text-center Вход
            = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
              .field.mb-3
                = f.label :email
                %br/
                = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
              .field.mb-3
                = f.label 'Пароль'
                %br/
                = f.password_field :password, autocomplete: "off", class: 'form-control'
              - if devise_mapping.rememberable?
                .field.form-check.mb-3
                  = f.check_box :remember_me, class: 'form-check-input'
                  = f.label 'Запомнить меня'
              .actions.text-center
                = f.submit "Войти по email", class: 'btn btn-success btn-block py-2'
                %span.mx-2.d-block.my-2.text-secondary или
                = render "devise/shared/links"
= render 'public/partials/footer'
