= form_for @admin_photo_album do |f|
  - if @admin_photo_album.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_photo_album.errors.count, "error")} prohibited this admin_photo_album from being saved:"
      %ul
        - @admin_photo_album.errors.full_messages.each do |message|
          %li= message
  = f.hidden_field :author_id, value: current_user.id
  .field.form-group
    = f.label 'Название'
    = f.text_field :title, class: 'form-control'
  .field.form-group
    = f.label 'Описание'
    = f.text_area :desc, class: 'form-control', rows: 3
  .field.form-group
    = f.label 'Просмотров'
    = f.number_field :views, class: 'form-control'
  .actions.form-group
    = f.submit 'Сохранить', class: 'btn btn-primary'
