%h1 Редактирование фотоальбома

= render 'form'

%hr
.row.mb-4
  .col-2.col-form-label
    Загрузить изображения
  .col-10
    = render 'admin/dropzone', photo_album: @admin_photo_album.id
#sortableGrid.row
  -@images.each do |image|
    .col-3.image.image-container{id: image.id, class: (image.archive ? 'archived' : '')}
      .card.card-image{class: (image.main_image ? 'border-primary' : '')}
        =image_tag image.image, class: 'card-img-top'
        -# .card-body
        -#   %button.btn.btn-link.editInfo.w-100.mb-2{"data-target" => "#editInfoModal", "data-toggle" => "modal", :type => "button"} Редактировать
        -#   %button.btn.btn-primary.setMainImage.w-100.mb-2{class: (image.main_image ? 'd-none' : '')} Сделать главной
        -#   - if image.archive
        -#     %button.btn.btn-link.archiveImage.w-100.mb-2 Достать из архива
        -#   - else
        -#     %button.btn.btn-link.archiveImage.w-100.mb-2 Добавить в архив
        -#   %button.btn.btn-danger.deleteImage.w-100 Удалить
        .card-body
          .d-flex.flex-row.justify-content-between
            %button.btn-icon.text-secondary.editInfo{"data-target" => "#editInfoModal", "data-toggle" => "modal", :type => "button"}
              %i.fas.fa-edit
            %button.btn-icon.text-primary.setMainImage{class: (image.main_image ? 'd-none' : '')}
              %i.far.fa-image
            - if image.archive
              %button.btn-icon.text-warning.archiveImage
                %i.fas.fa-archive
            - else
              %button.btn-icon.text-secondary.archiveImage
                %i.fas.fa-archive
            %button.btn-icon.text-danger.deleteImage
              %i.fas.fa-trash-alt
