%h1 Фотоальбомы

= link_to 'Создать Фотоальбом', new_admin_photo_album_path
%table.table.table-responsive
  %thead
    %tr
      %th Название
      %th Фотографий
      %th Просмотров
      %th
      %th
      %th

  %tbody
    - @admin_photo_albums.each do |admin_photo_album|
      %tr
        %td= admin_photo_album.title
        %td= admin_photo_album.images.count
        %td= admin_photo_album.views
        %td= link_to 'Посмотреть', admin_photo_album
        - if can? :edit, admin_photo_album
          %td= link_to 'Редактировать', edit_admin_photo_album_path(admin_photo_album)
        - if can? :destroy, admin_photo_album
          %td= link_to 'Удалить', admin_photo_album, method: :delete, data: { confirm: 'Уверены? Действие необратимо' }

%br
