%p
  %b Название:
  = @admin_photo_album.title
%p
  %b Описание:
  = @admin_photo_album.desc
%p
  %b Просмотров:
  = @admin_photo_album.views

= link_to 'Редактировать', edit_admin_photo_album_path(@admin_photo_album)
\|
= link_to 'Назад к списку постов', admin_photo_albums_path
