.d-block.d-sm-none#activity-accordion
  .card
    .card-header#activity-heading-one
      %h5.mb-0
        %button.btn.btn-link{"aria-controls" => "activity-one", "aria-expanded" => "true", "data-target" => "#activity-one", "data-toggle" => "collapse"}
          Показы одежды в славянском стиле
    #activity-one.collapse{"aria-labelledby" => "activity-heading-one", "data-parent" => "#activity-accordion"}
      .card-body
        %img.lazy.img-fluid.mb-3{'data-src': image_url('landings/slavBazar/activity1.jpg'), alt: 'Показы одежды в славянском стиле'}
        %p.card-text Коллекции, созданные тюменскими мастерицами Людмилой Зюркаловой, Мариной Йованович, Екатериной Макаровой, Татьяной Долгушиной, реконструктором из Чебаркуля Никой Недолужко и других. При показе этих костюмов мы отказались от участия профессиональных моделей, их подход разрушает очарование традиции. Поэтому демонстрируют наряды обычные участники фестиваля, у которых, это получается гораздо интереснее!
        %p.card-text
          %small.text-muted Фото: Евгений Котов

  .card
    .card-header#activity-heading-two
      %h5.mb-0
        %button.btn.btn-link{"aria-controls" => "activity-two", "aria-expanded" => "true", "data-target" => "#activity-two", "data-toggle" => "collapse"}
          Вечорка
    #activity-two.collapse{"aria-labelledby" => "activity-heading-two", "data-parent" => "#activity-accordion"}
      .card-body
        %img.lazy.img-fluid.mb-3{'data-src': image_url('landings/slavBazar/activity2.jpg'), alt: 'Вечорка'}
        %p.card-text Весёлая вечорка с играми, плясами, частушками, проходят в субботу вечером. Чтобы включиться в этот процесс совершенно не обязательно многое знать и уметь, навыки народного пляса достаточно простые, понятны на интуитивном уровне.
        %p.card-text
          %small.text-muted Фото: Андрей Черных

  .card
    .card-header#activity-heading-three
      %h5.mb-0
        %button.btn.btn-link{"aria-controls" => "activity-three", "aria-expanded" => "true", "data-target" => "#activity-three", "data-toggle" => "collapse"}
          Выставки
    #activity-three.collapse{"aria-labelledby" => "activity-heading-three", "data-parent" => "#activity-accordion"}
      .card-body
        %img.lazy.img-fluid.mb-3{'data-src': image_url('landings/slavBazar/activity3.jpg'), alt: 'Выставки'}
        %p.card-text Выставки с предметами из бабушкиных сундуков; фрагменты домовой резьбы; выставка-ярмарка народного творчества – все они создают волшебную пестроту, неповторимый аромат традиционной культуры, который наполняет нашу душу теплом и с которым так приятно знакомить детей и внуков!
        %p.card-text
          %small.text-muted Фото: Александр Ренев

  .card
    .card-header#activity-heading-four
      %h5.mb-0
        %button.btn.btn-link{"aria-controls" => "activity-four", "aria-expanded" => "true", "data-target" => "#activity-four", "data-toggle" => "collapse"}
          Фотоконкурс - Здесь русский дух, здесь Русью пахнет»
    #activity-four.collapse{"aria-labelledby" => "activity-heading-four", "data-parent" => "#activity-accordion"}
      .card-body
        %img.lazy.img-fluid.mb-3{'data-src': image_url('landings/slavBazar/activity4.jpg'), alt: 'Фотоконкурс «Здесь русский дух, здесь Русью пахнет»'}
        %p.card-text Фотоконкурс «Здесь русский дух, здесь Русью пахнет», где в восьми номинациях можно проявить своё видение проявлений славянской культуры в современном мире.
        %p.card-text
          %small.text-muted Фото: Евгений Котов

  .card
    .card-header#activity-heading-five
      %h5.mb-0
        %button.btn.btn-link{"aria-controls" => "activity-five", "aria-expanded" => "true", "data-target" => "#activity-five", "data-toggle" => "collapse"}
          Конкурс фотообразов - Славянский стиль сегодня
    #activity-five.collapse{"aria-labelledby" => "activity-heading-five", "data-parent" => "#activity-accordion"}
      .card-body
        %img.lazy.img-fluid.mb-3{'data-src': image_url('landings/slavBazar/activity5.jpg'), alt: 'Конкурс фотообразов «Славянский стиль сегодня»'}
        %p.card-text Конкурс фотообразов «Славянский стиль сегодня» обращается не столько к искусству фотографии, сколько к стилистике и естественному желанию людей примерить на себя традиционные русские/славянские костюмы и связанные с ними образы.
        %p.card-text
          %small.text-muted Фото: Волгуцкова Аксана

  .card
    .card-header#activity-heading-six
      %h5.mb-0
        %button.btn.btn-link{"aria-controls" => "activity-six", "aria-expanded" => "true", "data-target" => "#activity-six", "data-toggle" => "collapse"}
          Конкурс - Песни о Руси
    #activity-six.collapse{"aria-labelledby" => "activity-heading-six", "data-parent" => "#activity-accordion"}
      .card-body
        %img.lazy.img-fluid.mb-3{'data-src': image_url('landings/slavBazar/activity6.jpg'), alt: 'Конкурс «Песни о Руси»'}
        %p.card-text Цель конкурса «Песни о Руси» - привлечь внимание к песням разных лет, воспевающих красоту и силу нашей родины. Разброс возраста участников конкурса более 50 лет!
        %p.card-text
          %small.text-muted Фото: Евгений Котов

  .card
    .card-header#activity-heading-seven
      %h5.mb-0
        %button.btn.btn-link{"aria-controls" => "activity-seven", "aria-expanded" => "true", "data-target" => "#activity-seven", "data-toggle" => "collapse"}
          Конкурс русской каллиграфии - Прописные истины
    #activity-seven.collapse{"aria-labelledby" => "activity-heading-seven", "data-parent" => "#activity-accordion"}
      .card-body
        %img.lazy.img-fluid.mb-3{'data-src': image_url('landings/slavBazar/activity7.jpg'), alt: 'Конкурс русской каллиграфии «Прописные истины»'}
        %p.card-text Конкурс русской каллиграфии «Прописные истины» собирал рукописные работы множества городов России. Кроме опытных каллиграфов в нём принимали участие  учащиеся школ, некоторые из них выполняли работы вместе с родителями.

  .card
    .card-header#activity-heading-eight
      %h5.mb-0
        %button.btn.btn-link{"aria-controls" => "activity-eight", "aria-expanded" => "true", "data-target" => "#activity-eight", "data-toggle" => "collapse"}
          Волонтерство
    #activity-eight.collapse{"aria-labelledby" => "activity-heading-eight", "data-parent" => "#activity-accordion"}
      .card-body
        %img.lazy.img-fluid.mb-3{'data-src': image_url('landings/slavBazar/activity8.jpg'), alt: 'Волонтёрство'}
        %p.card-text Волонтёры необходимы на любой площадке.Требуются и оформители, и грузчики, и помощники на детской площадке, фотографы, помощники режиссёра и много кто еще.
        %p.card-text
          %small.text-muted Фото: Дмитрий Ельпин

  .card
    .card-header#activity-heading-nine
      %h5.mb-0
        %button.btn.btn-link{"aria-controls" => "activity-nine", "aria-expanded" => "true", "data-target" => "#activity-nine", "data-toggle" => "collapse"}
          Обсуждения
    #activity-nine.collapse{"aria-labelledby" => "activity-heading-nine", "data-parent" => "#activity-accordion"}
      .card-body
        %img.lazy.img-fluid.mb-3{'data-src': image_url('landings/slavBazar/activity9.jpg'), alt: 'Обсуждения'}
        %p.card-text
          Темы от "пространство дома" до "возрождение родовой культуры". На первом блоке ведущие по пять-семь минут рассказывают о своём видении темы, о той грани, через которую они её раскрывают, и на следующем блоке участники общаются с тем ведущим, чей подход показался им более значимым и интересным. Время: воскресенье с 12:00.
          %br
          Ещё проходит круглый стол по практике жизни в родовых поместьях - на наших фестивалях довольно много людей, которые так или иначе с ними связаны.
        %p.card-text
          %small.text-muted Фото: Евгений Котов
