%footer.footer.bg-dark.py-md-5.py-3.text-white
  .container
    .d-md-flex.align-items-stretch.row
      .col-md-6.order-2.order-md-1.footer__about.pt-md-0.pt-3
        %h1.about__title Академия Семейного Благополучия
        = image_tag 'logo_grant-2.png', class: 'img-fluid footer__grant', alt: 'Логотип Фонда Президентский грантов'
        %p.about__copyright © АНО "Академия Семейного Благополучия" 2018
        - if user_signed_in?
          = link_to 'Панель управления', admin_articles_path, class: 'footer__link'
          |
          = link_to 'Выйти', destroy_user_session_path, :method => :delete, class: 'footer__link'
        - else
          = link_to 'Войти', new_user_session_path, class: 'footer__link'
      .col-md-6.order-1.order-md-2.footer__contact.pb-md-0.pb-3
        %p.contact__title Как с нами связаться?
        .contacts
          .mb-2
            %i.fas.fa-phone.mr-2{"data-fa-transform":"rotate-90"}
            %a.text-white{href: "tel:89222675464"} 8 (922) 267-54-64
          .mb-2
            %i.fas.fa-envelope.mr-2
            %a.text-white{href: "mailto:fam-academy@yandex.ru"} fam-academy@yandex.ru
          .mb-2
            %i.fab.fa-vk.mr-2
            %a.text-white{href: "https://vk.com/fam_academy", target: "_blank"} vk.com/fam_academy
