%nav.navbar.navbar-expand-lg.main-nav.navbar-light.bg-light.fixed-top
  = link_to root_path, class: 'navbar-brand d-flex flex-row align-items-center' do
    = image_tag 'logo1.png', width: '50', height: '50', class: "d-inline-block align-top"
    .d-inline-block.ml-2.navbar-brand__title
      Академия Семейного
      %br
      Благополучия
  %button.navbar-toggler{"aria-controls" => "navbarText", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarText", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarText.collapse.navbar-collapse
    %ul.navbar-nav.ml-auto
      %li.nav-item
        = link_to 'Роды', rody_url, class: 'nav-link'
      %li.nav-item
        = link_to 'Свадьбы', marriage_url, class: 'nav-link'
      %li.nav-item
        = link_to 'Статьи', articles_url, class: 'nav-link'
      %li.nav-item
        = link_to 'Новости', news_url, class: 'nav-link'
      %li.nav-item
        = link_to 'РОД "Всем миром"', support_url, class: 'nav-link'
      %li.nav-item.dropdown
        %a#navbarDropdownEvents.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Прошедшие события
        .dropdown-menu{"aria-labelledby" => "navbarDropdownEvents"}
          = link_to 'Славянский базар', slav_bazar_url, class: 'dropdown-item'
          = link_to 'Красная горка', krasnaya_gorka_url, class: 'dropdown-item'
      -# %li.nav-item
      -#   %a.nav-link{:href => "#"} Новости
      -# %li.nav-item
      -#   %a.nav-link{:href => "#"} Фото
      -# %li.nav-item
      -#   %a.nav-link{:href => "#"} Видео
      -# %li.nav-item
      -#   %a.nav-link{:href => "#"} Услуги
