/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require toastr
 *= require jquery-ui
 *= require_self
 *= require admin/redactor.min.css
 *= require animate.min.css
 *= require paper-dashboard.css
 */
@import "bootstrap";
@import "dropzone/dropzone";

// @import 'admin/redactor.min.css';

@import 'admin/video_albums';


.sortable-placeholder {
	border: 1px dotted black;
  border-radius: 4px;
	// margin: 0 15px 20px 15px;
  padding: 0;
	height: 50px;
}

.sidebar{
	.nav>li {
		position: relative;
		display: block;
		width: 100%;
		a{
			display: block;
		}
	}
}

.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 4px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #888;
}

.navbar .navbar-brand {
	margin: 2px 0 !important;
}

.archived{
	opacity: .5;
}

.preview-content{
	border: 1px solid rgba(0, 0, 0, 0.15);
	p{
		margin-top: 2rem;
		margin-bottom: 2rem;
		font-size: 18px;
	}
	img{
		width: 100% !important;
		height: auto;
		display: block;
		margin: auto;
	}
	figcaption{
		display: block;
		text-align: center;
		font-style: italic;
		color: #737373;
	}
	blockquote{
		border-left: 3px solid #027d2f;
		padding-left: 20px;
		padding-right: 20px;
		// border-top: 3px solid #027d2f;
		// border-bottom: 3px solid #027d2f;
		font-size: 1.25rem;
		font-weight: 300
	}
	a{
		padding-bottom: 3px;
		border-bottom: 2px solid #027d2f;
		color: black;
		text-decoration: none;
		&:hover{
			color: #027d2f;
		}
	}
}

// paper-dashboard fix //

textarea.form-control{
	height: auto;
}

.image-container{
	height: auto !important;
	transition: transform .3s ease;
	&:hover{
		transform: scale(1.03);
	}
	.card.border-primary{
		border-width: 3px;
	}
}

button.btn-icon {
    background: none;
    border: none;
		cursor: pointer;
		padding: 0;
    // width: 23% !important;
}
