/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require toastr
 *= require_self
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import 'libraries/slick';
@import 'libraries/slick-theme';
@import 'loader';

@import 'variables';

@import "index";
@import 'public';
@import 'landings/marrige';
@import 'landings/slavBazar';
@import 'landings/krasnayaGorka';
@import 'landings/rody';
@import 'landings/support';


body {
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
  background-repeat: repeat;
  margin-top: 65px;
}
.flex-grow{
  flex: 1;
}

//========================
//=========NAVBAR=========
//========================

.navbar {
  font-family: Ossem;
  .navbar-brand {
    img{
      width: 40px;
      height: 40px;
    }
    .navbar-brand__title{
      line-height: 1;
      font-family: slavan;
    }
  }
}

.octo, .octo div {
  margin: 0 auto;
  transform-origin: 50% 50%;
  overflow: hidden;
}
.octo, .octo div {
  max-width: 170px;
  max-height: 170px;
}
.octo {
  transform: rotate(45deg);
}
.octo1 {
  transform: rotate(-45deg);
}

.footer{
  .about__title{
    font-size: 40px;
    font-weight: bold;
    font-family: Ardeco, 'Open Sans', sans-serif;
  }
  .about__copyright{
    opacity: .5;
  }

  .footer__grant{
    max-height: 70px;
  }

  .contact__title{
    font-size: 20px;
  }
}

@media (min-width: 768px){
  .footer{
    .footer__contact{
      border-left: 1px solid white
    }
  }
}

@media (max-width: 767px){
  .footer{
    .footer__contact{
      border-bottom: 1px solid white;
    }
  }
}

@media (max-width: 575px){
  .navbar {
    .navbar-brand {
      img{
        width: 40px;
        height: 40px;
      }
      .navbar-brand__title{
        font-size: 14px;
      }
    }
  }
}

#yandexMetrikaStyle{
  position:absolute;
  left:-9999px;
}

.empty-text{
  font-size: 30px;
}
