/* Background pattern from Subtle Patterns */

#index{
  font-family: Ossem;
  background-color: white;

  // #emptyNav{
  //   width: 100%;
  //   height: 59px;
  //   background-color: #f8f9fa !important;
  //   // border-bottom: 2px solid
  // }

  .title-type_section{
    color: black;
    font-size: 45px;
    font-weight: bold;
    font-family: Ardeco, 'Open Sans', sans-serif;
  }

  .slick-slide{
    margin: 10px;
    cursor: grab;
  }

  .slick-arrow{
    position: absolute;
    bottom: 0%;
    // transform: translateY(100%);
    background: none;
    outline: none;
    border: 0;
    color: black;
    border-radius: 50%;
    font-size: 40px;
    z-index: 200;
    opacity: .7;
    cursor: pointer;
  }

  .slick-arrow:hover{
    opacity: 1;
  }

  //
  // HEADER
  //

  .header{
    padding-top: 5rem;
    background: linear-gradient(to right, rgba(0, 108, 111, 0.8), rgba(0, 108, 111, 0.1)), image-url('bg.jpg');
    background-size: cover;
    background-position: top 20% right 10%;
    // background: #93C4E1;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(135deg, white 30%, #93C4E1 100%);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(135deg, white 30%, #93C4E1 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .header__title{
      color: #34515e;
      font-size: 90px;
      font-weight: bold;
      font-family: Ardeco, 'Open Sans', sans-serif;
    }
    .header__desc{
      color: white;
    }
    svg{
      path{
        fill: white;
        &:first-child, &:last-child{
          fill: #ffaf05;
        }
      }
    }
  }

  //
  // ABOUT
  //

  .about{
    padding-top: 4rem;
    padding-bottom: 4rem;
    // background-color: #FAC526;
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), image_url('eight_horns.png');
    background-repeat: repeat;
    .about__title{
      color: black;
      border-bottom: 6px solid #FF0000;
    }
    .about__text{
      color: black;
      font-size: 25px;
      .about__text-underline_blue{
        font-weight: 500;
        border-bottom: 3px solid #67d1fb;
      }
      .about__text-underline_green{
        font-weight: 500;
        border-bottom: 3px solid #6FAE03;
      }
      .about__text-underline_yellow{
        font-weight: 500;
        border-bottom: 3px solid #FAC526;
      }
    }
  }

  //
  // OFFICE
  //

  .offers{
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), image_url('eight_horns.png');
    background-repeat: repeat;
    .offers__title{
      border-bottom: 6px solid #FAC526;
    }
    .offer{
      .offer__icon{
        max-width: 80%;
      }
      .offer__title{
        font-size: 24px;
      }
    }
  }

  //
  // EVENTS
  //

  .events{
    padding-top: 4rem;
    padding-bottom: 4rem;
    .events__title{
      border-bottom: 6px solid #6FAE03;
    }
    .event{
      .event__title{
        font-family: Tangak;
        font-size: 40px;
      }
      .event__desc{
        font-size: 17px;
      }
    }
  }

  .reviews{
    padding-top: 4rem;
    padding-bottom: 4rem;
    .reviews__title{
      border-bottom: 6px solid #FF0000;
    }
    .review__avatar{
      max-height: 170px;
    }
  }

  .contacts{
    .contacts__title{
      border-bottom: 6px solid #6FAE03;
    }
  }

  .tree{
    background: #93C4E1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, white 30%,#d3ecfc 100%);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, white 30%,#d3ecfc 100%); /* W3C, IE 10+/ Edge, Firefox 1 */
  }

}

@media (max-width: 767px){
  .events{
    .event{
      padding-bottom: 40px;
    }
  }

  .reviews{
    .review{
      padding-bottom: 40px;
    }
  }

  .next-slide-btn{
    right: 0 !important;
  }

  .prev-slide-btn{
    right: 50px !important;
  }
}

@media (min-width: 768px){
  #index{
    .slick-arrow{
      top: 50%;
      transform: translateY(-50%);
      font-size: 60px;
    }
    .next-slide-btn{
      right: 20px !important;
    }

    .prev-slide-btn{
      left: 20px !important;
    }
  }
}
