/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.bg_pattern{
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), image_url('eight_horns.png');
  background-repeat: repeat;
  background-attachment: fixed;
}

.bg_close-white{
  background-color: rgba(255,255,255,0.9);
}

.footer{
  .footer__link{
    color: #D5AE75;
  }
}

//========================
//=========HEADER=========
//========================
// body {
//   margin-top: 55px;
// }

.nav__link_comming-event{
  color: #e86256 !important;
  font-weight: 700;
}

#marrige, #slavBazar, #krasnayaGorka{
  .header {
    color: white;
    min-height: 400px;
    height: 97vh;
  }

  .header__title {
    font-size: 100px;
    line-height: .95;
    margin-bottom: 2rem;
    font-family: slavan;
  }

  .header__desc {
    font-size: 30px;
    font-weight: 300;
  }

  @media (max-width: 767px){
    .navbar-brand {
      font-family: slavan;
      font-size: 20px;
      line-height: 1.05;
    }
  }
}

.articles, .all-news{
  &__title{
    font-family: Ardeco, 'Open Sans', sans-serif;
    font-size: 45px;
  }
  .articles__title{
    border-bottom: 6px solid #FAC526;
  }
  .all-news__title{
    border-bottom: 6px solid #e86256;
  }
  .article, .news{
    &__title{
      color: #379c3f;
      text-decoration: none !important;
      h2{
        font-size: 25px;
        font-family: Ossem;
      }
      &:hover{
        color: #25682a;
      }
    }
  }
  @media (min-width: 992px){
    .bricklayer-column-sizer {
      width: 33.3%
    }
  }
  @media (max-width: 991px){
    .bricklayer-column-sizer {
      width: 50%
    }
  }
  @media (max-width: 575px){
    .bricklayer-column-sizer {
      width: 100%
    }
    .article__image, .news__image{
      height: 200px;
      background-size: cover;
      background-position: center center;
    }
  }
  @media (max-width: 767px){
    .article, .news{
      &__title{
        h2{
          font-size: 20px;
        }
      }
    }
  }
}


//========================
//==========POST==========
//========================
.post{
  .post__header{
    position: relative;
    .post__bg{
      height: 400px;
      width: 100%;
      background-size: cover !important;
      background-position: center center !important;
    }
    .post__title{
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      color: white;
    }
    @media (max-width: 767px){
      .post__bg{
        height: 200px;
      }
      .post__title{
        position: static;
        color: black;
        h1{
          font-size: 25px;
        }
      }
    }
  }
  .post__post-content{
    .post__short-desc{
      font-size: 20px;
      margin-bottom: 2rem;
    }
    .post__content{
      p{
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 18px;
      }
      img{
        width: 100% !important;
        height: auto;
        display: block;
        margin: auto;
      }
      figcaption{
        display: block;
        text-align: center;
        font-style: italic;
        color: #737373;
      }
      blockquote{
        border-left: 3px solid #027d2f;
        padding-left: 20px;
        padding-right: 20px;
        // border-top: 3px solid #027d2f;
        // border-bottom: 3px solid #027d2f;
        font-size: 1.25rem;
        font-weight: 300
      }
      a{
        padding-bottom: 3px;
        border-bottom: 2px solid #027d2f;
        color: black;
        text-decoration: none;
        &:hover{
          color: #027d2f;
        }
      }
    }
    .action-buttons{
      margin-top: 2rem;
      margin-bottom: 2rem;
      border-top: 3px solid #05b445;
      padding-top: 2rem;
      .action-buttons__like-subscribe{
        .action-buttons__icon{
          color: tomato;
        }
      }
    }
  }
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) image_url('cd-top-arrow.svg') no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-top--fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}


.sign-in_vkontakte{
  background-color: #4A76A8;
  color: white;
}
