$xs-only: "(max-width: 575px)";
$sm-down: "(max-width: 767px)"; // Small devices (landscape phones, less than 768px)
$sm-only: "(min-width: 576px) and (max-width: 767px)";// Small devices (landscape phones, 576px and up)
$sm-up: "(min-width: 576px)";// Small devices (landscape phones, 576px and up)
$md-down: "(max-width: 991px)";// Medium devices (tablets, less than 992px)
$md-only: "(min-width: 768px) and (max-width: 991px)";// Medium devices (tablets, 768px and up)
$md-up: "(min-width: 768px)";// Medium devices (tablets, 768px and up)
$lg-down: "(max-width: 1199px)";// Large devices (desktops, less than 1200px)
$lg-only: "(min-width: 992px) and (max-width: 1199px)";// Large devices (desktops, 992px and up)
$lg-up: "(min-width: 992px)";// Large devices (desktops, 992px and up)
$xl: "(min-width: 1200px)";// Extra large devices (large desktops, 1200px and up)

//========================
//=========GLOBAL=========
//========================

@font-face {
  font-family: 'slavan';
  src:  font-url('IzhitsaRegular.eot');
  src:  font-url('IzhitsaRegular.eot?#iefix') format('embedded-opentype'),
        font-url('IzhitsaRegular.woff') format('woff'),
        font-url('IzhitsaRegular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Mont';
  src:  font-url('mont/Montextralightdemo.woff2') format('woff2'),
        font-url('mont/Montextralightdemo.woff') format('woff'),
        font-url('mont/Montextralightdemo.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src:  font-url('mont/Montheavydemo.woff2') format('woff2'),
        font-url('mont/Montheavydemo.woff') format('woff'),
        font-url('mont/Montheavydemo.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Tangak';
  src:  font-url('tangak/Tangak.woff2') format('woff2'),
        font-url('tangak/Tangak.woff') format('woff'),
        font-url('tangak/Tangak.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ardeco';
  src:  font-url('ardeco/Ardeco.woff2') format('woff2'),
        font-url('ardeco/Ardeco.woff') format('woff'),
        font-url('ardeco/Ardeco.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Komi';
  src:  font-url('komi/Komi.ttf') format('truetype');
}

@font-face {
  font-family: 'Ossem';
  src:  font-url('ossemrounded/Ossem-Rounded.ttf') format('truetype');
}
