= form_for @admin_user, url: admin_user_path(@admin_user), html: { multipart: true } do |f|
  - if @admin_user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_user.errors.count, "error")} prohibited this admin_user from being saved:"
      %ul
        - @admin_user.errors.full_messages.each do |message|
          %li= message

  .field.form-group
    = f.label 'Имя'
    = f.text_field :name, class: 'form-control'
  .field.form-group
    = f.label 'Фамилия'
    = f.text_field :surname, class: 'form-control'
  .field.form-group
    = f.label 'Email'
    = f.text_field :email, class: 'form-control'

  - if ((current_user.id != @admin_user.id) && (current_user.role == 'moderator')) || (current_user.role == 'admin')
    .field.form-group
      = f.label 'Роль'
      - if current_user.role == 'moderator'
        = select("user", "role", options_for_select([ "user", "author", "moderator"], @admin_user.role), {},{class: 'form-control'})
      - if current_user.role == 'admin'
        = select("user", "role", options_for_select([ "user", "author", "moderator", "admin"], @admin_user.role), {},{class: 'form-control'})
    .field.form-group
      = f.label 'Автор статей'
      = f.check_box :writer
    .field.form-group
      = f.label 'Фотограф'
      = f.check_box :photographer

  .actions.form-group
    = f.submit 'Сохранить', class: 'btn btn-primary'
