%h1 Список пользователей

%table.table.table-responsive
  %thead
    %tr
      %th Имя
      %th Email
      %th Роль
      %th Вид активности
      %th
      %th
      %th

  %tbody
    - @admin_users.each do |admin_user|
      %tr
        %td
          = admin_user.name
          = admin_user.surname
        %td= admin_user.email
        %td= admin_user.role
        %td
          = admin_user.writer && admin_user.photographer ? ' Автор статей; Фотограф' : ''
          = admin_user.writer && !(admin_user.photographer) ? ' Автор статей' : ''
          = !(admin_user.writer) && admin_user.photographer ? ' Фотограф' : ''
        %td= link_to 'Просмотреть', admin_user_path(admin_user)
        - if can? :edit, admin_user
          %td= link_to 'Редактировать', edit_admin_user_path(admin_user)
        - if can? :destroy, admin_user
          %td= link_to 'Удалить', admin_user_path(admin_user), method: :delete, data: { confirm: 'Уверены? Действие необратимо' }

%br

-# = link_to 'Создать пользователя', new_admin_user_path
