%h1 Новый пользователь

= form_for @admin_user, url: admin_users_path, html: { multipart: true } do |f|
  - if @admin_user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_user.errors.count, "error")} prohibited this admin_user from being saved:"
      %ul
        - @admin_user.errors.full_messages.each do |message|
          %li= message

  .actions.form-group
    = f.submit 'Сохранить'

= link_to 'Вернуться к списку пользователей', admin_users_path
