%p
  %b Email:
  = @admin_user.email
%p
  %b Имя:
  = @admin_user.name
%p
  %b Фамилия:
  = @admin_user.surname
%p
  %b Роль:
  = @admin_user.role

= link_to 'Редактировать', edit_admin_user_path(@admin_user)
\|
= link_to 'все пользователи', admin_users_path
