-# -if @video
-#   - video = @video
-# = form_for @video, method: :put, remote: true do |f|
-#   = f.hidden_field :video_album_id
-#   .field
-#     = f.label :title
-#     = f.text_field :title
-#   .field
-#     = f.label :link
-#     = f.text_field :link, id: 'videoLinkInput'
-#   .field
-#     = f.label :cover_image
-#     = f.file_field :cover_image
-#   .actions
-#     = f.submit 'Save', data: {disable_with: "Submitting..."}

-if @video
  - video = @video

= form_for @video, method: :put, remote: true do |f|
  = f.hidden_field :video_album_id
  .modal-header
    %h5#videoModalLabel.modal-title Редактирование видео
    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
      %span{"aria-hidden" => "true"} ×
  .modal-body
    .field.form-group
      = f.label :title
      = f.text_field :title, class: 'form-control'
    .field.form-group
      = f.label :link
      = f.text_field :link, id: 'videoLinkInput', class: 'form-control'
    .field.form-group
      = f.label :cover_image
      = f.file_field :cover_image, class: 'form-control'
  .modal-footer
    %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Закрыть
    = f.submit 'Сохранить', data: {disable_with: "Загрузка..."}, class: 'btn btn-primary'
