-if @video
  - video = @video
.col-md-3{id: video.id}
  .card
    = image_tag video.cover_image, class: 'img-fluid card-img-top'
    .card-body
      = video.title
      = link_to "Редактировать", "/videoInfo?id=#{video.id}", remote: true
      = link_to "Удалить", video, method: :delete, remote: true, data: { confirm: 'Уверены?' }
