.bg_pattern
  .container.articles.pt-5
    %h1.articles__title.mb-4 Статьи
    -if @articles.count == 0
      .text-center.lead.empty-text.py-5 Скоро здесь появяться статьи
    .bricklayer
      - @articles.each do |article|
        .card.article.bg_close-white.mb-3
          = link_to post_path(article) do
            = image_tag article.header.small, class: 'card-img-top d-none d-sm-block'
            %div.article__image.card-img-top.d-block.d-sm-none{style: 'background-image: url("'+image_url(article.header.small)+'")'}
          .card-body.px-4.py-3.article__content
            = link_to post_path(article), class: 'article__title' do
              %h2.card-title.mb-0.mb-md-3= article.title
            %p.article__desc.card-text.d-none.d-md-block
              = article.desc
            %p.card-text
              %small.text-muted= article.updated_at.strftime('%Y-%m-%d')
= render 'public/partials/footer'
