.bg_pattern
  .container
    .row.py-5
      .col-md-8.offset-md-2.bg_close-white.card.p-5
        %h2.text-center Почти готово...
        %p.lead.text-center Нам нужно ещё немного информации о вас
        = form_for @user, url: complite_sign_up_path(@user), html: { multipart: true } do |f|
          - if @user.fakeEmail
            -# = f.hidden_field :fakeEmail, value: false
            .field.mb-3
              = f.label :email
              %br/
              = f.email_field :email, value: '', autofocus: true, autocomplete: "email", class: 'form-control', required: true
          .field.mb-3
            = f.label 'Имя'
            = f.text_field :name, class: 'form-control'
          .field.mb-3
            = f.label 'Фамилия'
            = f.text_field :surname, class: 'form-control'
          .field.mb-3
            = f.label 'Автор статей'
            = f.check_box :writer
          .field.mb-3
            = f.label 'Фотограф'
            = f.check_box :photographer
          .actions.text-center
            = f.submit "Закончить регистрацию", class: 'btn btn-success btn-lg'
= render 'public/partials/footer'
