#index
  #emptyNav.fixed-top.bg-dark
  .mt-0
    %section.header
      .container
        .row
          .col-md-6
            .img-fluid
              = inline_svg 'logo_text.svg'
            %p.lead.my-5.header__desc  Мы помогаем настраивать и поддерживать семейное благополучие на всех этапах развития семьи, очно для тюменцев и по скайпу для всего русскоязычного мира.
    -# %hr.mt-0
    %section.about
      .container
        .row
          .col-md-10.offset-md-1
            .text-center
              %h2.about__title.title-type_section.mb-5.d-inline-block Зачем мы?
              %p.lead.about__text.mb-0.text-left
                Сменились тысячелетия, меняются эпохи, меняется жизнь. Но есть и то, что не меняется. В этой жизни, полной перемен, каждому из нас необходима
                %span.about__text-underline_green опора
                , нужен
                %span.about__text-underline_blue воздух для дыхания
                и важна
                %span.about__text-underline_yellow цель.
                %br
                %br
                %span.about__text-underline_green Опора
                – человек, семья, род.
                %br
                %span.about__text-underline_blue Воздух для дыхания
                – любовь и счастье.
                %br
                %span.about__text-underline_yellow Цель
                – гармония жизни.
                %br
                %br
                Опору нужно выращивать, быть счастливым можно учиться, жизнь важно творить.
                Для этого и создана Академия.
    %section.events
      .container
        .text-center
          %h2.events__title.title-type_section.mb-5.d-inline-block Наши мероприятия:
        .events__carousel
          %div.px-md-5
            .row.px-md-4.event.align-items-center
              .col-md-3.mb-md-0.mb-3
                =image_tag 'slav-bazar-logo.png', class: 'img-fluid', alt: 'Логотип "Славянский базар"'
              .col-md-9
                %h3.event__title.d-inline-block Славянский базар
                %p.event__desc Фестиваль весеннего равноденствия, посвящен весне и солнцу, дарит вам хорошее настроение, когда новогодние праздники уже давно прошли, а майские еще не скоро.
                = link_to 'Узнать больше', slav_bazar_path, class: 'btn btn-outline-info', role: 'button'
          %div.px-md-5
            .row.px-md-4.event.align-items-center
              .col-md-3.mb-md-0.mb-3
                =image_tag 'flower-logo.png', class: 'img-fluid', alt: 'Логотип "Цветок папоротника"'
              .col-md-9
                %h3.event__title.d-inline-block Цветок папоротника
                %p.event__desc Праздник летнего солнцестояния, всегда проводится на природе на берегу озера. Много света от солнца, костров и свечей, хороводы, обряды, музыка... Вместе БлагоДарим Солнце, и оно отвечает нам теплом и красивейшими гало!
          %div.px-md-5
            .row.px-md-4.event.align-items-center
              .col-md-3.mb-md-0.mb-3
                =image_tag 'key-logo.png', class: 'img-fluid', alt: 'Логотип "Ключи от сказки"'
              .col-md-9
                %h3.event__title.d-inline-block Ключи от сказки
                %p.event__desc В преддверие Нового года следует сходить на Фестиваль новогодних затей и найти там подарки для родных и близких, идеи для стола и оформления, а так же светлое новогоднее настроение, которого всегда так не хватает.

    %section.offers
      .container
        .text-center
          %h2.offers__title.title-type_section.mb-5.d-inline-block Чем можем быть полезны:
          .row.mb-3
            .col-md-3.col-6.mb-md-0.mb-3.offer
              .text-center.mb-2
                =image_tag 'offer1.png', class: 'img-fluid offer__icon', alt: "Дом славянской одежды и рукоделия"
              %h3.offer__title Дом славянской одежды и рукоделия
            .col-md-3.col-6.mb-md-0.mb-3.offer
              .text-center.mb-2
                =image_tag 'offer2.png', class: 'img-fluid offer__icon', alt: "Семья и очаг"
              %h3.offer__title Семья и очаг
            .col-md-3.col-6.mb-md-0.mb-3.offer
              .text-center.mb-2
                =image_tag 'offer3.png', class: 'img-fluid offer__icon', alt: "Творческие мастерские"
              %h3.offer__title Творческие мастерские
            .col-md-3.col-6.mb-md-0.mb-3.offer
              .text-center.mb-2
                =image_tag 'offer4.png', class: 'img-fluid offer__icon', alt: "Детские студии"
              %h3.offer__title Детские студии
          -# .text-center
          -#   %button.btn.btn-outline-info{type:"button"} Весь список


    %section.reviews
      .container
        .text-center
          %h2.reviews__title.title-type_section.mb-5.d-inline-block Что о нас говорят?
        .reviews__carousel
          %div.px-md-5
            .row.align-items-center.px-md-4.review
              .col-md-3.mb-md-0.mb-3
                .octo
                  .octo1
                    =image_tag 'quote2.jpg', class: 'review__avatar img-fluid', alt: "Евгений Котов"
              .col-md-9
                %h3
                  Евгений Котов
                  %small.text-muted (о подготовке к естесственным родам)
                %p
                  %em ...Благодаря полученной информации наши роды прошли наиболее благополучно! (...) В такой ситуации, которая не входит ни в план А и в план Б и даже план В, для благополучного ее разрешения, нужно действовать так же спокойно и четко, как в продуманном сценарии. Для этого нужно быть информированным хотя бы в ключевых вопросах и быть уверенным в правильности решений в каждый миг ситуации (...) Мужики, посетите вебинар, а лучше реальные встречи курса - как минимум, вы станете четко понимать для себя, как наиболее благополучно оранизовать Ваш процесс родов
          %div.px-md-5
            .row.align-items-center.px-md-4.review
              .col-md-3.mb-md-0.mb-3
                .octo
                  .octo1
                    =image_tag 'quote3.jpg', class: 'review__avatar img-fluid', alt: "Евгения Ахатова"
              .col-md-9
                %h3
                  Евгения Ахатова
                  %small.text-muted (о занятиях по фен-шуй)
                %p
                  %em ...Если сначала кажется, что настройка касается только пространства в котором мы живем, то потом понимаешь, что параллельно начинают выстраиваться и улучшаться все сферы твоей жизни. Курс построен таким образом, что такая на первый взгляд не простая система фен-шуй, постепенно укладываться в голове. Но самое приятное, что информация живая, то есть она очень теплая, душевная и внимание уделяется каждому в отдельности.
          %div.px-md-5
            .row.align-items-center.px-md-4.review
              .col-md-3.mb-md-0.mb-3
                .octo
                  .octo1
                    =image_tag 'quote1.jpg', class: 'review__avatar img-fluid', alt: "Анна Волкова"
              .col-md-9
                %h3
                  Анна Волкова
                  %small.text-muted (о мероприятиях)
                %p
                  %em Мы с семьёй уже три года являемся постоянными участниками Славянского базара, Ключей от сказки, Купалы и других мероприятий. Здесь всегда уютно и новичкам и признанным экспертам, проходят десятки безоплатных мастер-классов. А какие хороводы!... Особое место на всех мероприятиях занимают дети. Их всегда очень много, разных возрастов и воспитания, но каждому интересно и занятно.


    %section.tree
      .container
        .text-center
          .row
            .col-md-4.col-sm-6.offset-md-4.offset-sm-3
              =image_tag 'tree.png', class: 'img-fluid', alt: 'Дерево Семейного Благополучия'

= render 'public/partials/footer'
