#krasnayaGorka
  %header.header
    .d-flex.h-100
      .col-md-6.offset-md-3.align-self-center
        .header__content.text-center
          %h1.header__title Красная горка 2018
          %p.header__desc
            %b Пройдет 21 апреля с 15 до 20 часов в Тюменском технопарке

  %section.about
    .container
      %h2.about__title.section_title.text-center
        Что такое
        %span.text-danger Красная горка?
      %p.text-justify.lead
        Красная горка – душевный праздник победы весны над зимой, первое общее гулянье потеплу, по оттаявшей земле! Первые встречи с землёй, начинающей пробуждаться, с растениями, в которых начинают шевелиться соки жизни, с друзьями-знакомыми-роднёй, охмелевшими от первого солнца, весеннего воздуха, открывающихся просторов и перспектив.
      %p.text-justify.lead
        Это даже не один праздник, а целая череда гуляний, когда собираются то парни, то девушки, то гуляют всей деревней, то ещё как-нибудь.
      %p.text-justify.lead
        Даты празднований могут разниться от местности к местности и от года к году, они вписываются, совмещаются с весенним пробуждением природы.

  %section.events.bg-white
    .container
      .text-center
        %h2.events__title.section_title.mb-5.d-inline-block Нас ждут:
      .d-flex.flex-row.mb-5.flex-wrap
        .col-md-6.mb-3
          .card.h-100
            = image_tag 'landings/krasnayaGorka/mk.jpg', class: 'img-fluid card-img-top'
            .card-body
              .row.mx-3
                %h3.event__title Мастер-классы
                %p
                  %b
                    Вводный мастер-класс,
                  на котором все желающие узнают о празднике больше и в итоге будут со знанием дела и подготовленными участвовать в основном гулянии!
                %p
                  %b
                    Мастер-класс Надежды Дмитриевны Алёхиной
                  по традиционной росписи яиц-писанок.  Не упустите момент прикоснуться к таинству, передаваемому потомственным мастером!
        .col-md-6.mb-3
          .card.h-100
            = image_tag 'landings/krasnayaGorka/market.jpg', class: 'img-fluid card-img-top'
            .card-body
              .row.mx-3
                %h3.event__title Выставка-продажа народного творчества
                %p На неё умельцы наши приносят и творения свои красивые, полезные, удобные, съестные, диковинные... разные, в общем!
      .row.mx-md-0.mb-5
        .col-12
          %h3.event__title.event__title-border_yellow.mb-3 Глубокая смысловая наполняющая
          = image_tag 'landings/krasnayaGorka/obryad.jpg', class: 'img-fluid w-100'
      .d-flex.flex-row.flex-wrap
        .col-md-6.mb-3
          .card.h-100
            .card-body
              %h4.event__title.event__title-border_green.mb-3 Реконструированные обряды Красной горки
              %p Помогут пробудиться от зимней заторможенности и открыться активным делам и достижениям летнего сезона, настроиться на созидательный труд, а также на создание новых семей и новых членов общества.
        .col-md-6.mb-3
          .card.h-100
            .card-body
              %h4.event__title.event__title-border_green.mb-3 Общая трапеза праздничная
              %p Несём стряпанное-печёное к общему столу, чтоб и с другими поделиться, и самому голодным не остаться (вспоминаем, что взаимный обмен угощениями, любезностями, прикосновениями на празднике – залог душевного благополучия и здорового обмена веществ в нашем теле).
        .col-md-6.mb-3
          .card.h-100
            .card-body
              %h4.event__title.event__title-border_green.mb-3 Вечорка
              %p Можно будет познакомиться с новыми людьми тем, кто ищет себе человека по духу близкого и по ценностям, ведь на вечорке кроме прочего будут игры, в которых молодцы да девицы показать себя смогут, в деле проявить
        .col-md-6.mb-3
          .card.h-100
            .card-body
              %h4.event__title.event__title-border_green.mb-3 Женские посиделки
              %p Женские посиделки Мамки-няньки, собирайтесь, наряжайтесь да приходите на Красную горку, праздник попраздновать да беседу побеседовать о том, как мы можем помочь выросшим дочерям-сыновьям свое счастье найти и семью создать. Вспомним традиционную материнскую магию, которая помогала жизнь творить и направлять в желаемую сторону (но ни в коем случае не искажает свободную волю наших детей!)

  %section.cta
    .container.text-center.text-white
      .row
        .col-md-8.offset-md-2
          .lead
            Больше информации о меропрятии можно узнать в
            %a.text-white{href: "https://vk.com/krasnai_gorka", target: "_blank"}
              %u официальной группе Вконтакте
  %section
    .container
      %h2.activity__title.section_title.text-center.mb-3 Где все будет проходить?
      %p.activity__desc.section_desc.text-center.mb-4{itemprop:"location", itemscope: "", itemtype: "http://schema.org/Place"}
        24-25 марта,
        %span{itemprop:"name"} Тюменский Технопарк
        %span{itemprop:"address"} (Республики 142)
      .row
        .col-12
          %script{:async => "", :charset => "utf-8", :src => "https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A62b9db15e9c947d1e8dcedc6e12f3462b494b31f582b32f444d4a79e7a14f04e&width=100%25&height=400&lang=ru_RU&scroll=true", :type => "text/javascript"}
= render 'public/partials/footer'
