#marrige
  %header.header
    .d-flex.h-100
      .col-lg-6.offset-lg-3.align-self-center.mt-5
        .header__content.text-center
          %h1.header__title Свадьбы в славянском стиле
          %p.header__desc Полное воплощение или помощь на любом из этапов

  %section.types
    .container
      %h2.types__title.section__title.text-center.mb-5 Выберите свой стиль...
      .row.mb-5
        .col-md-6.mb-4
          .card
            %img.lazy.card-img-top{'data-src': image_url('landings/marrige/type-ruskaz.jpg'), alt: 'Русская казачья'}
            .card-body.py-2
              %p.card-title.type__title.text-center.mb-0 Русская казачья
        .col-md-6.mb-4
          .card

            %img.lazy.card-img-top{'data-src': image_url('landings/marrige/type-slav.jpg'), alt: 'Славянская'}
            .card-body.py-2
              %p.card-title.type__title.text-center.mb-0 Славянская
        .col-md-6.mb-4
          .card
            %img.lazy.card-img-top{'data-src': image_url('landings/marrige/type-tail.jpg'), alt: 'Сказочная'}
            .card-body.py-2
              %p.card-title.type__title.text-center.mb-0 Сказочная
        .col-md-6.mb-4
          .card
            %img.lazy.card-img-top{'data-src': image_url('landings/marrige/type-vedrus.jpg'), alt: 'Ведрусская'}
            .card-body.py-2
              %p.card-title.type__title.text-center.mb-0 Ведрусская
      %h2.ideas__title.section__title.text-center
        \...Или обсудим ваши идеи.

  %section.ideas
    -# .container-fluid
    %h2.ideas__title.section__title.text-center
      Мы предлагаем:
    .d-lg-flex.align-items-stretch.idea.mb-lg-0.mb-4
      .col-lg-6.idea__img.idea__img_first
      .col-lg-6.p-5.d-flex.align-self-stretch.align-items-center
        .idea__info
          %h3.idea__title Сватовство
          %p.idea__desc.mb-0
            Красивый обряд, который легко разворачивается в волшебное действо, сравнимое со свадьбой, особенно если родня жениха и невесты относится к жизни и ситуации с юмором, с желанием в эту тему поиграть.
            %br
            Появление жениха с товарищами, и дружкой или свахой, испытания жениха, обращение его к родителям невесты, торг, согласие на брак, благословение, обручение, общее застолье – всё это содержит много мелких важных деталей и правил, соблюдение которых помогает заложить надёжный фундамент будущей семейной жизни и чудесно провести время на первом соприкосновении двух родов.

    .d-lg-flex.align-items-stretch.idea.mb-lg-0.mb-4
      .col-lg-6.idea__img.idea__img_second.order-lg-2
      .col-lg-6.p-5.d-flex.align-self-stretch.align-items-center.order-lg-1
        .idea__info
          %h3.idea__title Девичник
          %p.idea__desc.mb-0
            Расставание со старой жизнью надо провести так, чтобы максимально почувствовать вкус девичьей независимости, насладиться компанией испытанных подружек, но и в то же время – подготовиться к новой жизни и новому статусу.
            %br
            Не случайно включаются сюда банные обряды – очищение считалось (и сейчас ведь считается!) необходимым перед любым важным новым делом.
            %br
            Баня, посиделки, прощание с девичьей повязкой-крАсотой настраивают невесту на переход к новой жизни, а для девушек близкое общение с невестой всегда считалось верным способом приманить к себе.

    .d-lg-flex.align-items-stretch.idea.mb-lg-0.mb-4
      .col-lg-6.idea__img.idea__img_third
      .col-lg-6.p-5.d-flex.align-self-stretch.align-items-center
        .idea__info
          %h3.idea__title Славянские свадебные обряды и ритуалы
          %p.idea__desc.mb-0
            Наряжение и вывод невесты, венчание, обручение, коровай и общая чаша , соединение родов , окручивание невесты и еще множество обрядов. и ритуалов помогают наметить и провести определённые этапы соединения двух разных людей, судеб, родов в единое русло.

    .d-lg-flex.align-items-stretch.idea.mb-lg-0.mb-4
      .col-lg-6.idea__img.idea__img_fourth.order-lg-2
      .col-lg-6.p-5.d-flex.align-self-stretch.align-items-center.order-lg-1
        .idea__info
          %h3.idea__title Испытания жениха
          %p.idea__desc.mb-0
            Сейчас они чаще всего проводятся уже в день свадьбы, хотя раньше чаще происходили в период сватовства – кандидат в женихи должен был доказать-показать свою удаль, состоятельность, умение, чтобы убедить родню невесты отдать девушку ему в жёны.
            %br
            Мы можем провести их на любом этапе праздника, разрабатываем индивидуально для каждой пары и ситуации. Наша задача – сделать так, чтоб все увидели, каков жених орёл, а не «посадить его в лужу»!

    .d-lg-flex.align-items-stretch.idea
      .col-lg-6.idea__img.idea__img_fifth
      .col-lg-6.p-5.d-flex.align-self-stretch.align-items-center
        .idea__info
          %h3.idea__title Ведение свадеб
          %p.idea__desc.mb-0
            Разработка сценария, основываясь на традиции и ваши пожелания и возможности.
            %br
            Проведение народных забав, игр и хороводов.
            %br
            Наши ведущие стремятся не просто проводить игры и обряды, а ведать, понимать, что стоит за их действиями, какое влияние это всё оказывает на молодую пару и на формирование будущей совместной жизни.

  %section.help
    .container
      %h2.help__title.section__title.text-center.mb-5 Помощь на любом этапе

      .help-type.mb-5
        %h3.help-type__title.mb-3 Стилизация костюмов, свадебного поезда, места регистрации и гуляния
        %h4.help-type__subtype-title.mb-3 Аренда
        %h4.help-type__subtype-title Пошив
        %ul.help-type__subtype-desc
          %li Разработка эскизов профессиональным дизайнером с учётом ваших пожеланий
          %li Разработка и ручное изготовление фрагментов костюмов (пояса, очелья, оплечья, обручья и др.) в технике вышивки или ткачества
          %li Подбор мастера в соответствие с выбранным стилем костюма
          %li Пошив костюма опытным мастером, специалиализирующимся именно в выбранном стиле
        %h4.help-type__subtype-title Обучение невесты и её подруг, родственников пары пошиву и рукоделию
        %ul.help-type__subtype-desc.mb-0
          %li Вы можете сделать костюм или их фрагменты своими руками.
          %li Можем организовать душевные посиделки по изготовлению костюмов и приданного.

      .help-type.mb-5
        %h3.help-type__title.mb-3 Песни и танцы
        %p.help-type__subtype-desc
        %ul.help-type__subtype-desc
          %li Исполнение народного танца
          %li Обучение плясу и кадрилям.
          %li Постановка свадебного танца, танцев подружек невесты и друзей жениха.
      .help-type.mb-5
        %h3.help-type__title.mb-3 А так же
        %ul.help-type__subtype-desc
          %li Приглашение творческих коллективов и исполнителей с тематическими выступлениями (песни, танцы, огненное шоу и прочее)
          %li Фото- и видеосессии в разных вариантах
          %li Помощь в подборе места, которое станет красивым фоном для вашего праздника
          %li Консультации
          %li И многое другое!

      %h2.phone.text-center.mb-5
        Подробности по телефону:
        %br
        8-922-267-54-64
