.bg_pattern
  .container.all-news.pt-5
    %h1.all-news__title.mb-4 Новости
    -if @news.count == 0
      .text-center.lead.empty-text.py-5 Скоро здесь появяться новости
    .bricklayer
      - @news.each do |news|
        .card.news.bg_close-white.mb-3
          = link_to post_path(news) do
            = image_tag news.header.small, class: 'card-img-top d-none d-sm-block'
            %div.news__image.card-img-top.d-block.d-sm-none{style: 'background-image: url("'+image_url(news.header.small)+'")'}
          .card-body.px-4.py-3.news__content
            = link_to post_path(news), class: 'news__title' do
              %h2.card-title.mb-0.mb-md-3= news.title
            %p.news__desc.card-text.d-none.d-md-block
              = news.desc
            -# %p.card-text
            -#   %small.text-muted= news.updated_at
= render 'public/partials/footer'
