.container.container__withoutHeader
  %h1 Фотоальбомы
  - @photo_albums.each do |photo_album|
    .row
      .col-md-3
        - if photo_album.images.where(main_image: true).try(:first).try(:image).try(:small)
          = image_tag photo_album.images.where(main_image: true).try(:first).try(:image).small, class: 'img-fluid'
        - else
          = image_tag photo_album.images.try(:first).try(:image).try(:small), class: 'img-fluid'
      .col-md-9
        %h3= photo_album.title
        %p= photo_album.desc
