.bg_pattern
  .container.post.px-0.bg_close-white
    .post__header.d-flex.mb-md-4.flex-md-row.flex-column
      .post__bg{style: 'background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("'+image_url(@post.header.large)+'")'}
      .post__title.p-md-5.px-3.py-5.d-flex.align-items-end
        %h1= @post.title
    .row.mx-0
      .col-md-10.offset-md-1
        .px-md-5.post__post-content
          .post__short-desc
            = raw @post.desc
          .post__content
            = raw @post.content
          .d-flex.justify-content-between.align-items-center.action-buttons
            .addthis_inline_share_toolbox
            -# %div.action-buttons__like-subscribe
            -#   %i.fas.fa-bookmark.fa-2x.mr-2.action-buttons__icon
            -#   %i.far.fa-heart.fa-2x.action-buttons__icon
        .row

    %a.cd-top.js-cd-top{:href => ""} To Top
= render 'public/partials/footer'
