#rody
  %header.header
    .container
      .row
        .col-md-6
          %h1.header__title Центр Естественного Рождения
          %p.lead.my-5.header__desc
            Для тех, кто хочет прожить беременность и
            роды в роли счастливых грамотных родителей, а не безгласных
            пациентов.
  %section.section.features.py-5
    .container
      .text-center
        %h2.features__title.section_title.d-inline-block Мы предлагаем
      .d-flex.flex-wrap.align-items-center.mt-4
        .col-md-4.py-3.feature
          .text-center.mx-3.mb-0.feature__text
            Курсы по подготовке к естественным родам и занятия по
            сопутствующим темам
        .col-md-4.py-3.feature
          .text-center.mx-3.mb-0.feature__text
            Консультации по всему спектру тематики Центра
        .col-md-4.py-3.feature
          .text-center.mx-3.mb-0.feature__text
            Клубное общение для взаимной поддержки
        .col-md-4.py-3.feature
          .text-center.mx-3.mb-0.feature__text
            Сопровождение и поддержку специалистов в период беременности,
            родов и послеродового периода
        .col-md-4.py-3.feature
          .text-center.mx-3.mb-0.feature__text
            Возможности сети Интернет для активного контакта с аудиторией
        .col-md-4.py-3.feature
          .text-center.mx-3.mb-0.feature__text
            Организацию общественных процессов для продвижения идей
            естественного рождения
  %section.section.courses.py-5
    .container
      .text-center
        %h2.courses__title.section_title.d-inline-block
          Курс «Роди меня по-настоящему»
          %br
          (естественные роды дома и в роддоме)
      .text-justify.mt-5.px-5
        %p
          Наш курс - это синтез знаний о родах многодетной мамы
          (6 детей, трое домашних родов) и акушера-гинеколога с более чем
          сорокалетней практикой.
        %p
          Работаем на осознавание зачатия, беременности и родов как
          естественных процессов, в норме не требующих постороннего
          вмешательства. Учимся уважать своё тело и давать ему возможность
          выполнять те задачи, на решение которых оно настроено
          многотысячелетней эволюцией.
        %p
          В среднем по стране порядка 20% родов происходят через кесарево сечение.
          %span.underline_red
            После нашей подготовки кесарево сечение делалось в 3 % случаев.
            Почувствуйте разницу!
        %p
          ВЫ С НАШЕЙ ПОМОЩЬЮ РАЗРАБОТАЕТЕ ГОТОВЫЙ ПОШАГОВЫЙ СЦЕНАРИЙ РОДОВ,
          КОТОРЫЙ УЧИТЫВАЕТ ВАШИ ИНДИВИДУАЛЬНЫЕ ОСОБЕННОСТИ И ПОМОГАЕТ СДЕЛАТЬ
          ВАШИ РОДЫ МАКСИМАЛЬНО МЯГКИМИ И ЕСТЕСТВЕННЫМИ!
      .row.my-5
        .col-md-12
          .courses__features.p-5.border_blue
            %h3.mb-5 Что вы узнаете на этом курсе?
            .row
              .col-md-4
                %p.pl-3.courses__feature
                  Как родить максимально естественно дома и в роддоме?
              .col-md-4
                %p.pl-3.courses__feature
                  Как развеять страхи, возникающие при беременности и родах,
                  и почему это жизненно необходимо.
              .col-md-4
                %p.pl-3.courses__feature
                  Ведущая расскажет про свой личный опыт родов дома, на суше
                  и в воде, в советском и российском роддомах.
              .col-md-4
                %p.pl-3.courses__feature
                  Как благополучно выносить малыша: поведение беременной,
                  правила и многие другие нюансы.
              .col-md-4
                %p.pl-3.courses__feature
                  Степень взаимодействия с ЖК, больницами, роддомами,
                  поликлиниками, загсами.
              .col-md-4
                %p.pl-3.courses__feature
                  Что делать отцу на всех этапах: зачатие, беременность,
                  роды, после родов.
              .col-md-4
                %p.pl-3.courses__feature
                  Что нужно обязательно знать, чтобы родить здорового малыша.
              .col-md-4
                %p.pl-3.courses__feature
                  Как решить, где рожать: в роддоме или дома?
              .col-md-4
                %p.pl-3.courses__feature
                  Подробнейшая подготовка к домашним родам и родам в роддоме.
              .col-md-4
                %p.pl-3.courses__feature
                  Этапы родов – до полного осознания процессов.
              .col-md-4
                %p.pl-3.courses__feature
                  Документы, бумаги, регистрация и прочая официальщина.
              .col-md-4
                %p.pl-3.courses__feature
                  Что делать, чтобы роды стали семейным праздником?
              .col-md-4
                %p.pl-3.courses__feature
                  И многое другое…

      .row
        .col-md-6.mb-md-0.mb-4
          .course.border_green
            .p-4.background_green.mb-3.pb-3
              %h3.text-center.course__title.text-white Курс вебинаров
            .p-4
              %ul
                %li Подойдет парам, которые не имеют возможности присутствовать на занятиях;
                %li Желающим почерпнуть информацию в комфортном для себя режиме;
                %li Можно смотреть находясь в любой точке мира;
              %hr
              %p.mb-0
                Вы можете без оплаты составить своё представление о курсе и ведущей, и уже потом решить, стоит ли полный вебинар (или очный курс) Вашего внимания
                %a{href: 'https://cloud.mail.ru/public/NETM/HCoucHBWF', target: '_blank'}посмотрев Вводный вебинар
                \.
            .px-5
              .underline_green
            .p-4.text-center
              %p.h1.mb-0
                9000 ₽
                %small / курс
              или
              %p.h1.mb-4
                400 ₽
                %small / занаятие
              %a.btn.btn-success.button_green_fill.px-4.py-2{href: 'https://estestvennye-rody.ru/rody', target: '_blank'} Узнать подробнее

        .col-md-6
          .course.border_yellow
            .p-4.background_yellow.mb-3.pb-3
              %h3.text-center.course__title.text-white Очный курс
            .p-4
              %ul.mb-0
                %li Возможность задать интересующие вопросы сразу на месте
                %li Живая демонстрация
                %li 20 уроков по 2 учебных часа.
                %li Занятия проводятся по адресу: г. Тюмень, ул. Пароходская, д.11, вход со стороны ул. Усиевича.
              %hr
              %p.mb-0
                Вы можете сформировать более полное представление о курсе и что в него включено
                %a{href: 'https://docs.google.com/spreadsheets/d/12cv6H9RJis63rj4fCa8irfX5RkMxR5LAJGnA11rA1zs/edit#gid=0', target: '_blank'} посмотрев Расписание занятий
                \.
            .px-5
              .underline_yellow
            .p-4.text-center
              %p.h1.mb-0
                6000 ₽
                %small / курс
              или
              %p.h1.mb-4
                400 ₽
                %small / занаятие
              %a.btn.btn-success.button_yellow_fill.px-4.py-2{href: 'https://vk.com/write36112438', target: '_blank'} Узнать подробнее

  %section.section.consultations.py-5
    .container
      .text-center
        %h2.consultations__title.section_title.d-inline-block.border_red Консультирование
      .text-justify.my-5
        %p Тюменцы могут получить такую консультацию лично, жители всего русскоязычного мира – по скайпу. В особых случаях для тюменцев возможен вызов консультанта на дом.
        %p Основные вопросы и специалисты, которые могут вас проконсультировать:
      .row
        .col-md-6.mb-3.mb-md-4
          %p.h4.underline_green.consultation__title.pb-2 Всё, что касается естественного хода беременности и родов
          %p Марина Владимировна Заватская
        .col-md-6.mb-3.mb-md-4
          %p.h4.underline_green.consultation__title.pb-2 Медицинские аспекты, отклонения, сомнения в назначении препаратов
          %p Людмила Викторовна Бинюкова
        .col-md-6.mb-3.mb-md-0
          %p.h4.underline_green.consultation__title.pb-2 Естественные методы оздоровления мамы и малыша
          %p Наталья Деева (Замашкина)
        .col-md-6.mb-3.mb-md-0
          %p.h4.underline_green.consultation__title.pb-2 Психологическое консультирование и щадящая психотерапевтическая работа
          %p Екатерина Викторовна Баянова
  %section.section.accompaniment.py-5.bg-light
    .container
      .text-center
        %h2.accompaniment__title.section_title.d-inline-block.border_blue Сопровождение беременности и родов
      .text-justify.my-5
        %p Будущим родителям очень важна доступность контактов с опытными людьми, которым можно задать любой волнующий вопрос по поводу того, что с ними происходит.
        %p Специалисты Центра, владеющие большим опытом наблюдения беременных женщин, оказывают персональную поддержку во время беременности, родов и в послеродовом периоде.
      .d-flex.align-items-center.my-4.flex-wrap
        .col-md-5
          =image_tag 'landings/rody/rody1.jpg', class: 'img-fluid'
        .col-md-7
          %h3.underline_yellow.mb-3 Сопровождение беременности
          %p Специалисты нашего Центра всегда на связи и готовы дать исчерпывающие консультации и рекомендации по поводу протекания беременности и вашего состояния в любое время, когда это будет необходимо (в течение дня или круглосуточно, по вашему выбору).
      .d-flex.align-items-center.my-4.flex-wrap
        .col-md-5.order-md-2
          =image_tag 'landings/rody/rody2.jpg', class: 'img-fluid'
        .col-md-7.order-md-1
          %h3.underline_yellow.mb-3 Сопровождение родов
          %p Сопровождение беременности выстраивается на основе партнерских доброжелательных отношений между консультантом и его семьей и одобряет присутствие на консультациях и родах будущего папы.
      .d-flex.align-items-center.my-4.flex-wrap
        .col-md-5
          =image_tag 'landings/rody/rody3.jpg', class: 'img-fluid'
        .col-md-7
          %h3.underline_yellow.mb-3 Сопровождение послеродового периода
          %p
            Это очень непростое время, особенно – если ребёнок первый и не было опыта общения с младшими братьями-сёстрами-племянниками…
            %br
            Опыт и квалификация консультантов позволяют помочь успешно решить самые разнообразные задачи.

  %section.section.promotion.text-white
    .container
      .text-center
        %p.lead
          Одно из важных направлений работы Центра – формирование перинатальной культуры населения, соответствующей современным требованиям и рекомендациям; повышение осведомленности в вопросах подготовки и протекания беременности, особенностях послеродового периода. Такие мероприятия имеют большое значение для формирования здорового образа жизни, для охраны и укрепления здоровья мамы и ребенка.
        %p.lead.mb-0
          Семейные пары, наиболее осведомленные в отношении своих репродуктивных прав, находятся в лучшем положении при взаимодействии с медицинскими учреждениями, и знанию того, как с ними должны обращаться в рамках системы здравоохранения.

  %section.section.people.bg-white.py-5
    .container
      .text-center
        %h2.people__title.section_title.d-inline-block.border_red Специалисты
      .row.mt-5
        .col-md-6.mb-md-0.mb-4
          %h3.mb-4.underline_green Ведущие
          %p.h4.people__name{'data-toggle': 'modal', 'data-target': '#user1'} Марина Владимировна Заватская
          %p.h4.people__name{'data-toggle': 'modal', 'data-target': '#user2'} Елена Леонидовна Белоусова
          %p.h4.people__name{'data-toggle': 'modal', 'data-target': '#user3'} Лана Палагнюк
          %p.h4.people__name{'data-toggle': 'modal', 'data-target': '#user4'} Наталья Деева (Замашкина)
        .col-md-6
          %h3.mb-4.underline_green Консультанты
          %p.h4.people__name{'data-toggle': 'modal', 'data-target': '#user5'} Людмила Викторовна Бинюкова
          %p.h4 Екатерина Викторовна Баянова
          %p.h4 Марина Маслова
          %p.h4.people__name{'data-toggle': 'modal', 'data-target': '#user8'} Наталья Булычёва
= render 'public/partials/footer'

#user1.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "user1label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %h5#user1label.modal-title Марина Владимировна Заватская
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        %ul
          %li мама 6-х детей, 3-е из которых рождались в роддоме, а 3-е дома (и "на суше", и в воде);
          %li 142 года суммарного материнского стажа;
          %li педагог, медсестра гражданской обороны, психолог;
          %li награждена орденом "Родительская слава" и медалью "Материнская слава";
          %li председатель Комиссии по семье и детству Общественной палаты города Тюмени;
          %li основатель и директор Академии семейного благополучия;
          %li более четверти века счастливой семейной жизни!

#user2.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "user2label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %h5#user2label.modal-title Елена Леонидовна Белоусова
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        %ul
          %li Ведущая тренингов, медитаций, практик
          %li Родолог
          %li Целитель, массажист
          %li Бабушка, которая участвовала в рождении своей внучки
        %p
          Духовными и энергетическими практиками начала заниматься с 2000 года, когда жизнь моя, как мне казалось, зашла в абсолютный тупик, совершенно мрачный и беспросветный. Началось все с Рейки, затем йога, Ошо-семинары, телесно-ориентированные практики, изучение массажных технологий, бизнес-семинары, тренинги личностного роста — всё это присутствовало в моей жизни в период поиска и становления.
          %br
          Замужем, две прекрасные дочки, внуки. Здоровый образ жизни, Регулярные личные практики - йога (занимаюсь с 2001 года), пранаяма, медитации, в настоящее время изучаю традиционную китайскую оздоровительную систему цигун. Изучаю историю Славяно-Арийской культуры, что позволяет глубже познать свои корни и соединиться с силой Рода. Поддерживаю восстановление связей между человеком и природой через осознание себя как частицы природы, люблю русские народные сказки, прошла базовый курс сказкотерапии «Сказочные кружева»
          %br
          Я за природный естественный иммунитет, жизнь без прививок, за естественные роды, имею опыт доулы (помощницы), акушерки в естественных (домашних) родах. Увлекаюсь правополушарным рисованием, развиваю голосовые данные через вокал.
          %br
          Что мне дают все эти практики, техники, семинары? )) Дают возможность познавать себя. Слушать всем телом. Жить в своем ритме
          %br
          Как я узнаю, что присутствую в теле, что живу вместе со своим телом? Я пропускаю-воспринимаю информацию не только душой, но и пропускаю ее через тело и только после принимаю решение, не только из головы-разума.
          %br
          Я замечаю, что когда мне удается жить в балансе душа - разум-тело, то происходит то самое ощущение потока от жизни, когда события складываются как причудливый узор в калейдоскопе. И уже нет расстройства от не сложившихся обстоятельств, потому как нет не нужных ожиданий. В этом и есть свобода. И слушание. Слушание себя и пространства вокруг. Вот этим я хочу делится со всеми, кому это нужно, интересно, важно.
          %br
          Провожу консультации и сеансы оздоровления и исцеления, с применением различных техник. Даю посвящение, инициацию в Рейки, провожу практики-медитации по работе с Родом, по выравниванию и гармонизации внутреннего пространства (внутренний ребенок, не рожденные дети, мужское/женское начало). Организую, участвую в семейных расстановках по методу Хеллингера.

#user3.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "user3label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %h5#user3label.modal-title Лана Палагнюк
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        %ul
          %li Акушерка
          %li Ведунья, целитель, травница, рукодельница.
          %li Ведущая курсов и тренингов
          %li Руководитель Центра развития человека «Пелынь»

#user4.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "user4label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %h5#user4label.modal-title Наталья Деева (Замашкина)
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        %p Закончила Тюм. мед академию в 2006 году с красным дипломом.
        %p 2 года клиническая ординатура по ЛОР-болезням.
        %p С 2007 по 2010 работала в приемном отделени ОБК№2 во взрослом и детском отделениях, в поликлинике,
        %p В 2008 – 2011 гг. работала ЛОР-онкологом в Тюменском онкодиспансере в отделении опухолей головы и шеи.
        %p
          В настоящее время в декретном отпуске, место работы - ТОКБ №1 отделение профосмотров. Активно провожу индивидуальные консультации по оздоровлению частоболеющих детей и взрослых.
          Доп.образование - массажист. В дипломе - врач по специальности Лечебное дело


#user5.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "user5label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %h5#user5label.modal-title Людмила Викторовна Бинюкова
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        %ul
          %li Высшее образование – Новосибирский медицинский институт, училась у профессоров ещё дореволюционной школы.
          %li Опыт работы – более 40 лет акушером-гинекологом в районной больнице.
          %li Мама двоих детей, бабушка
          %li Заслуженный врач Российской Федерации.


#user8.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "user8label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %h5#user8label.modal-title Наталья Булычёва
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        Двое детей
        %br
        Образование:
        %ul
          %li 2000-2005 гг. - ТюмГУ , филологический факультет, студент (по околнчании присвоена квалифиация "Филолог. Преподаватель")
          %li 2010 г. - Консультант по грудному вскармливанию (программа ВОЗ, ЮНИСЕФ)
          %li 2015 г. - Участие в IV международной конференции для акушерок и доул (г. Санкт-Петербург)
          %li 2016 г. - Участие в Фестивале естественного родительства (г. Екатеринбург)

        Опыт работы:
        %ul
          %li 2005-2006гг Ведущий специалист информационно-аналитического отдела "Россельхознадзора"
          %li 2006-2007гг Выпускающий редактор журналов "Сельский округ Сегодня" и "Агрофорум"
          %li 2007-2012гг Специалист службы связей с предприятиями ТюмГНГУ
