#slavBazar
  %header.header
    .d-flex.h-100
      .col-md-6.offset-md-3.align-self-center
        .header__content.text-center{itemscope: "", itemtype: "http://schema.org/Event"}
          %h1.header__title{itemprop: "name"} Славянский базар 2018
          %p.header__desc
            Пятый фестиваль весеннего равноденствия состоится в
            %b
              %span{itemprop:"location", itemscope: "", itemtype: "http://schema.org/Place"}
                %span{itemprop: "name"} Тюменском технопарке
              с
              %time{itemprop: "startDate", datetime: "2018-03-24"}24
              по
              %time{itemprop: "endDate", datetime: "2018-03-25"}25 марта
  %section.about
    .container
      %h2.about__title.section_title.text-center События фестиваля
      %p.about__desc.section_desc.text-center Фестиваль – это особая ткань, в которую вплетены самые разные события. Главное в нем – всё. Выдерни любую нить, убери любое событие – и краски фестиваля потускнеют.
      .events
        .d-flex.flex-lg-row.flex-column.align-items-center.event.my-5
          .col-lg-5
            %img.lazy.img-fluid.rounded.event__img.mb-lg-0.mb-3{'data-src': image_url('landings/slavBazar/event-3.jpg'), alt: 'Комоедицы'}
            -# = image_tag 'landings/slavBazar/event-3.jpg', class: 'img-fluid', alt: 'Комоедицы'
          .col-lg-7.event__desc
            %h3.event__title Комоедицы
            %p.event__desc.mb-0 Главный праздник «Славянского базара» - Комоедицы, древний аналог и прообраз Масленицы, который издавна отмечался в период весеннего равноденствия.  Весёлое уличное гуляние с хороводами, играми, песнями, сжиганием чучела Зимы и другими традиционными развлечениями. Мы реконструируем традиционные славянские обряды, описанные на сайте Российского этнографического музея, в книгах Афанасьева и других источниках.
        .d-flex.flex-lg-row.flex-column.align-items-center.event.my-5
          .col-lg-5.order-lg-2.event_odd
            %img.lazy.img-fluid.rounded.event__img.mb-lg-0.mb-3{'data-src': image_url('landings/slavBazar/event-2.jpg'), alt: 'Мастер классы'}
            -# = image_tag 'landings/slavBazar/event-2.jpg', class: 'img-fluid', alt: 'Мастер классы'
          .col-lg-7.event__desc.order-lg-1.event_odd
            %h3.event__title Мастер-классы
            %p.event__desc.mb-0 Динамические мастер-классы – те, где идёт движение, это хороводы, игры, элементы единоборств, упражнения в плясе. Теоретические мастер-классы - где идёт рассказ о народных традициях, влиянии традиционной культуры на нашу современную жизнь и многом другом. На практических мастер-классах под руководством опытных мастеров вы творите сами.
        .d-flex.flex-lg-row.flex-column.align-items-center.event.my-5
          .col-lg-5
            %img.lazy.img-fluid.rounded.event__img.mb-lg-0.mb-3{'data-src': image_url('landings/slavBazar/event-1.jpg'), alt: 'Выступления'}
            -# = image_tag 'landings/slavBazar/event-1.jpg', class: 'img-fluid', alt: 'Выступления'
          .col-lg-7.event__desc
            %h3.event__title Выступления
            %p.event__desc.mb-0 Песни, танцы, театральные постановки и даже фаершоу. Выступления идут в перерывах между основными блоками фестиваля, во время награждений, во время показа костюмов… Творчество с опорой на народные традиции вносит большой вклад в особую атмосферу фестиваля.
      .text-center
        %a.btn.btn-success.schedule_btn{role:"button", href:"https://docs.google.com/spreadsheets/d/1ZRVdiTK2Ho6Ey0aRnRJn0WsuXyAUwQeniKsRyXnXsI8/edit?usp=sharing", target: "_blank"} Расписание мероприятия


  %section.gallery
    .container
      %h2.gallery__title.section_title.text-center.text-white Фотографии
      -# %p.gallery__desc.section_desc.text-center.text-white Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod.
      .gallery__carousel.mx-md-5
        %div
          %img.lazy.img-fluid{'data-lazy': image_url('landings/slavBazar/slider1.jpg'), alt: 'Фотография с фестиваля'}
        %div
          %img.lazy.img-fluid{'data-lazy': image_url('landings/slavBazar/slider2.jpg'), alt: 'Фотография с фестиваля'}
        %div
          %img.lazy.img-fluid{'data-lazy': image_url('landings/slavBazar/slider3.jpg'), alt: 'Фотография с фестиваля'}
        %div
          %img.lazy.img-fluid{'data-lazy': image_url('landings/slavBazar/slider4.jpg'), alt: 'Фотография с фестиваля'}
        %div
          %img.lazy.img-fluid{'data-lazy': image_url('landings/slavBazar/slider5.jpg'), alt: 'Фотография с фестиваля'}
  %section.video
    .container
      %h2.video__title.section_title.text-center Посмотрите короткое видео
      %p.video__desc.section_desc.text-center И погрузитесь в атмосферу фестиваля! Узнайте, что о нём говорят его организаторы и участники
      .video-container
        %iframe.video-container__video.w-100{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/McdpmIGB_Ok?rel=0"}

  %section.map
    .container
      %h2.map__title.section_title.text-center.text-white К нам приезжают из самых разных городов
      -# %p.map__desc.section_desc.text-center Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod.
      .img-fluid.d-none.d-sm-block
        = inline_svg 'landings/slavBazar/svg/Russia_Map.svg'
      = image_tag 'landings/slavBazar/map.png', class: 'img-fluid d-block d-sm-none', alt: 'География посетителей'
      -# %img.img-fluid.lazy{'data-lazy': image_url('landings/slavBazar/map.png'), alt: 'География посетителей'}

  %section.talksAboutUs
    .container
      %h2.talksAboutUs__title.section_title.text-center.text-white О нас пишут
      .row.align-items-center
        .col-md-2.col-6.text-center.mb-4.order-1
          = link_to 'https://moi-portal.ru/novosti/427999-v-tyumeni-24-25-marta-proydet-vserossiyskiy-festival-russkoy-narodnoy-kultury-slavyanskiy-bazar-2018/', target: "_blank" do
            = image_tag 'landings/slavBazar/moi-portal.png', class: 'img-fluid', alt: 'Мой-портал'
        .col-md-2.col-6.text-center.mb-4.order-2
          = link_to 'https://tyumen.vibirai.ru/articles/tumen_primet_slavyanskiy_bazar_2018-2338320', target: "_blank" do
            = image_tag 'landings/slavBazar/vibiray.png', class: 'img-fluid', alt: 'Выбирай'
        .col-md-2.col-6.text-center.mb-4.order-4.order-md-3
          = link_to 'http://tumentoday.ru/2018/02/04/volonterov-slavyanskogo-bazara-2018-naryadyat-v-russkie-nacionalnye-kostyumy/', target: "_blank" do
            = image_tag 'landings/slavBazar/tyumen-region-today.png', class: 'img-fluid', alt: 'Тюменская область сегодня'
        .col-md-2.col-6.text-center.mb-4.order-3.order-md-4
          = link_to 'https://явь-тв.рф/?p=3025', target: "_blank" do
            = image_tag 'landings/slavBazar/yav-tv.png', class: 'img-fluid', alt: 'Явь-ТВ'
        .col-md-2.col-6.text-center.mb-4.order-5
          = link_to 'https://www.tumen.kp.ru/online/news/3032042/', target: "_blank" do
            = image_tag 'landings/slavBazar/komsomol.png', class: 'img-fluid', alt: 'Комсомольская правда'
        .col-md-2.col-6.text-center.mb-4.order-6
          = link_to 'http://ural-location.ru/news/216629/', target: "_blank" do
            = image_tag 'landings/slavBazar/ural-news.png', class: 'img-fluid', alt: 'Новости Урала'
      .text-center
        %a.btn.btn-success.schedule_btn{role:"button", href:"https://docs.google.com/spreadsheets/d/1v2Tbu33YY4VNncV5TdBmgMOgseeUXSWL1RNsrs3o_eM/edit?usp=sharing", target: "_blank"} Cписок всех публикаций



  %section.activity
    .container
      %h2.activity__title.section_title.text-center Участие в фестивале
      %p.activity__desc.section_desc.text-center Здесь Вы сможете найти настоящих мастеров своего дела, которые с удовольствием поделятся с Вами бесценным опытом и всеми тонкостями своего искусства на мастер-классах фестиваля!
      .activityCarousel
        %div
          %img.lazy.img-fluid{'data-lazy': image_url('landings/slavBazar/master2.jpg'), alt: 'Марина Заватская'}
        %div
          %img.lazy.img-fluid{'data-src': image_url('landings/slavBazar/master16.jpg'), alt: 'Елена Белоусова'}
        %div
          %img.lazy.img-fluid{'data-lazy': image_url('landings/slavBazar/master3.jpg'), alt: 'Елена Дыкова'}
        %div
          %img.lazy.img-fluid{'data-lazy': image_url('landings/slavBazar/master4.jpg'), alt: 'Анна Заватская'}
        %div
          %img.lazy.img-fluid{'data-lazy': image_url('landings/slavBazar/master1.jpg'), alt: 'Ника Недолужко, Вероника Минец, Ольга Вараксина'}
        %div
          %img.lazy.img-fluid{'data-lazy': image_url('landings/slavBazar/master6.jpg'), alt: 'Татьяна Клыкова'}
        %div
          %img.lazy.img-fluid{'data-src': image_url('landings/slavBazar/master18.jpg'), alt: 'Николай Сульженко'}
        %div
          %img.lazy.img-fluid{'data-lazy': image_url('landings/slavBazar/master7.jpg'), alt: 'Марина Тимофеева'}
        %div
          %img.lazy.img-fluid{'data-lazy': image_url('landings/slavBazar/master8.jpg'), alt: 'Наталья Деева'}
        %div
          %img.lazy.img-fluid{'data-src': image_url('landings/slavBazar/master17.jpg'), alt: 'Ольга Завидонова'}
        %div
          %img.lazy.img-fluid{'data-lazy': image_url('landings/slavBazar/master5.jpg'), alt: 'Анна Ваганова'}
        %div
          %img.lazy.img-fluid{'data-src': image_url('landings/slavBazar/master9.jpg'), alt: 'Ольга Вараксина'}
        %div
          %img.lazy.img-fluid{'data-src': image_url('landings/slavBazar/master10.jpg'), alt: 'Марина Васючкова'}
        %div
          %img.lazy.img-fluid{'data-src': image_url('landings/slavBazar/master11.jpg'), alt: 'Светлана Григорьева'}
        %div
          %img.lazy.img-fluid{'data-src': image_url('landings/slavBazar/master13.jpg'), alt: 'Ольга Отраднова'}
        %div
          %img.lazy.img-fluid{'data-src': image_url('landings/slavBazar/master14.jpg'), alt: 'Елена Осипова'}
        %div
          %img.lazy.img-fluid{'data-src': image_url('landings/slavBazar/master15.jpg'), alt: 'Олеся Токменина'}
        %div
          %img.lazy.img-fluid{'data-src': image_url('landings/slavBazar/master19.jpg'), alt: 'Анна Волкова'}
        %div
          %img.lazy.img-fluid{'data-src': image_url('landings/slavBazar/master20.jpg'), alt: 'Илья Радостев'}
        %div
          %img.lazy.img-fluid{'data-src': image_url('landings/slavBazar/master21.jpg'), alt: 'Анна Белых'}
        %div
          %img.lazy.img-fluid{'data-src': image_url('landings/slavBazar/master22.jpg'), alt: 'Надежда Еремеева'}
        %div
          %img.lazy.img-fluid{'data-src': image_url('landings/slavBazar/master23.jpg'), alt: 'Ирина Высоких'}
        %div
          %img.lazy.img-fluid{'data-src': image_url('landings/slavBazar/master24.jpg'), alt: 'Елена Хадарина'}
        %div
          %img.lazy.img-fluid{'data-src': image_url('landings/slavBazar/master25.jpg'), alt: 'Татьяна Чумаченко'}

      %h3.types__desc.text-center Вы можете выбрать вариант своего участия в фестивале
      .card-columns.d-none.d-sm-block
        .card.my-3
          %img.lazy.card-img-top{'data-src': image_url('landings/slavBazar/activity1.jpg'), alt: 'Показы одежды в славянском стиле'}
          .card-body
            %h5.card-title Показы одежды в славянском стиле
            %p.card-text Коллекции, созданные тюменскими мастерицами Людмилой Зюркаловой, Мариной Йованович, Екатериной Макаровой, Татьяной Долгушиной, реконструктором из Чебаркуля Никой Недолужко и других. При показе этих костюмов мы отказались от участия профессиональных моделей, их подход разрушает очарование традиции. Поэтому демонстрируют наряды обычные участники фестиваля, у которых, это получается гораздо интереснее!
            %p.card-text
              %small.text-muted Фото: Евгений Котов

        .card.my-3
          %img.lazy.card-img-top{'data-src': image_url('landings/slavBazar/activity2.jpg'), alt: 'Вечорка'}
          .card-body
            %h5.card-title Вечорка
            %p.card-text Весёлая вечорка с играми, плясами, частушками, проходят в субботу вечером. Чтобы включиться в этот процесс совершенно не обязательно многое знать и уметь, навыки народного пляса достаточно простые, понятны на интуитивном уровне.
            %p.card-text
              %small.text-muted Фото: Андрей Черных

        .card.my-3
          %img.lazy.card-img-top{'data-src': image_url('landings/slavBazar/activity3.jpg'), alt: 'Выставки'}
          .card-body
            %h5.card-title Выставки
            %p.card-text Выставки с предметами из бабушкиных сундуков; фрагменты домовой резьбы; выставка-продажа народного творчества – все они создают волшебную пестроту, неповторимый аромат традиционной культуры, который наполняет нашу душу теплом и с которым так приятно знакомить детей и внуков!
            %p.card-text
              %small.text-muted Фото: Александр Ренев

        .card.my-3
          %img.lazy.card-img-top{'data-src': image_url('landings/slavBazar/activity4.jpg'), alt: 'Фотоконкурс «Здесь русский дух, здесь Русью пахнет»'}
          .card-body
            %h5.card-title Фотоконкурс - Здесь русский дух, здесь Русью пахнет»
            %p.card-text Фотоконкурс «Здесь русский дух, здесь Русью пахнет», где в восьми номинациях можно проявить своё видение проявлений славянской культуры в современном мире.
            %p.card-text
              %small.text-muted Фото: Евгений Котов

        .card.my-3
          %img.lazy.card-img-top{'data-src': image_url('landings/slavBazar/activity5.jpg'), alt: 'Конкурс фотообразов «Славянский стиль сегодня»'}
          .card-body
            %h5.card-title Конкурс фотообразов - Славянский стиль сегодня
            %p.card-text Конкурс фотообразов «Славянский стиль сегодня» обращается не столько к искусству фотографии, сколько к стилистике и естественному желанию людей примерить на себя традиционные русские/славянские костюмы и связанные с ними образы.
            %p.card-text
              %small.text-muted Фото: Волгуцкова Аксана

        .card.my-3
          %img.lazy.card-img-top{'data-src': image_url('landings/slavBazar/activity6.jpg'), alt: 'Конкурс «Песни о Руси»'}
          .card-body
            %h5.card-title Конкурс - Песни о Руси
            %p.card-text Цель конкурса «Песни о Руси» - привлечь внимание к песням разных лет, воспевающих красоту и силу нашей родины. Разброс возраста участников конкурса более 50 лет!
            %p.card-text
              %small.text-muted Фото: Евгений Котов

        .card.my-3
          %img.lazy.card-img-top{'data-src': image_url('landings/slavBazar/activity7.jpg'), alt: 'Конкурс русской каллиграфии «Прописные истины»'}
          .card-body
            %h5.card-title Конкурс русской каллиграфии - Прописные истины
            %p.card-text Конкурс русской каллиграфии «Прописные истины» собирал рукописные работы множества городов России. Кроме опытных каллиграфов в нём принимали участие  учащиеся школ, некоторые из них выполняли работы вместе с родителями.
            -# %p.card-text
              -# %small.text-muted Автор работы: ---

        .card.my-3
          %img.lazy.card-img-top{'data-src': image_url('landings/slavBazar/activity8.jpg'), alt: 'Волонтёрство'}
          .card-body
            %h5.card-title Волонтерство
            %p.card-text Волонтёры необходимы на любой площадке.Требуются и оформители, и грузчики, и помощники на детской площадке, фотографы, помощники режиссёра и много кто еще.
            %p.card-text
              %small.text-muted Фото: Дмитрий Ельпин

        .card.my-3
          %img.lazy.card-img-top{'data-src': image_url('landings/slavBazar/activity9.jpg'), alt: 'Обсуждения'}
          .card-body
            %h5.card-title Обсуждения
            %p.card-text
              Темы от "пространство дома" до "возрождение родовой культуры". На первом блоке ведущие по пять-семь минут рассказывают о своём видении темы, о той грани, через которую они её раскрывают, и на следующем блоке участники общаются с тем ведущим, чей подход показался им более значимым и интересным. Время: воскресенье с 12:00.
              %br
              Ещё проходит круглый стол по практике жизни в родовых поместьях - на наших фестивалях довольно много людей, которые так или иначе с ними связаны.
            %p.card-text
              %small.text-muted Фото: Евгений Котов

      = render 'public/partials/accordion'

  %section.cta
    .container.text-center.text-white
      .row
        .col-md-8.offset-md-2
          .lead
            Регистрация участников происходит через страницу "Обсуждения" группы
            %a.text-white{href: "https://vk.com/board62531925", target: "_blank"}
              %u Вконтакте
  %section
    .container
      %h2.activity__title.section_title.text-center.mb-3 Где все будет проходить?
      %p.activity__desc.section_desc.text-center.mb-4{itemprop:"location", itemscope: "", itemtype: "http://schema.org/Place"}
        24-25 марта,
        %span{itemprop:"name"} Тюменский Технопарк
        %span{itemprop:"address"} (Республики 142)
      .row
        .col-12
          %script{:async => "", :charset => "utf-8", :src => "https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A62b9db15e9c947d1e8dcedc6e12f3462b494b31f582b32f444d4a79e7a14f04e&width=100%25&height=400&lang=ru_RU&scroll=true", :type => "text/javascript"}
  %footer.footer.bg-dark.py-5.text-white
    .container
      .d-md-flex.align-items-stretch.row{itemscope: "", itemtype:"http://schema.org/Organization"}
        .col-md-6.order-2.order-md-1.footer__about.pt-md-0.pt-3
          %p Мы помогаем настраивать и поддерживать семейное благополучие на всех этапах развития семьи, очно для тюменцев и по скайпу для всего русскоязычного мира.
          = image_tag 'logo_grant-2.png', class: 'img-fluid footer__grant', alt: 'Логотип Фонда Президентский грантов'
          %p{itemprop: "name"} © АНО "Академия Семейного Благополучия" 2018
        .col-md-6.order-1.order-md-2.footer__contact.pb-md-0.pb-3
          %p.h4 Как с нами связаться?
          .contacts
            .mb-2
              %i.fas.fa-phone.mr-2{"data-fa-transform":"rotate-90"}
              %a.text-white{href: "tel:89222675464", itemprop: "telephone"} 8 (922) 267-54-64
            .mb-2
              %i.fas.fa-envelope.mr-2
              %a.text-white{href: "mailto:mzavatskaya@gmail.com", itemprop: "email"} mzavatskaya@gmail.com
            .mb-2
              %i.fab.fa-vk.mr-2
              %a.text-white{href: "https://vk.com/slav_bazar_tyumen", target: "_blank"} СЛАВЯНСКИЙ БАЗАР - 2018
