#support
  %header.header
    .container.text-center
      %h1.header__title.mb-4
        РОД &nbsp;
        %span> «
        Всем миром!
        %span> »
      %p.lead.header__desc.mb-4 Вместе мы делаем русскую/славянскую культуру достоянием современного мира!

  %section.section.description.py-5
    .container
      .text-center
        %h2.description__title.section_title.border_blue.mb-5.d-inline-block Здравствуйте, дорогие друзья и единомышленники!
      .row.mb-5
        .col-lg-5.mb-lg-0.mb-3
          =image_tag 'landings/vsem_mirom/about.jpg', class: 'img-fluid'
        .col-lg-7
          %p.text-dark
            Восемь лет мы воссоздаём традиционную культуру, проводим русские/славянские праздники,
            собираемся вместе для общения, знакомства с образом жизни, бытом и мастерством наших предков,
            совместного творчества и хороших дел. Мы часто слышим от вас, что надо сделать такие события регулярными,
            чтобы добрая сила традиционной культуры помогала нам налаживать наши
            сегодняшние дела и отношения на самых разных уровнях.

          %p.lead Но без помощи и поддержки каждого из вас с такой задачей не справиться!

          %p.text-dark
            Нужны не только разговоры,
            %i но и действия,
            бОльшее объединение наших усилий и ресурсов,
            более организованное объединение помыслов и стремлений.

      -# %p.h3.mx-5.text-center.text-dark Чтобы лучше увидеть и осознать всю нашу силу, умножить возможности – СОЗДАЁТСЯ РУССКОЕ ОБЩЕСТВЕННОЕ ДВИЖЕНИЕ «ВСЕМ МИРОМ!» (РОД «Всем миром!»).
  %section.section.stats.py-5.bg-light.text-dark
    .container
      .text-center
        %h2.description__title.section_title.border_green.mb-5.d-inline-block Уже проведено:
      .row
        .col-lg-3.col-sm-6.my-3.text-center
          %p.display-4.counter 33
          %p Праздников и фестивалей
        .col-lg-3.col-sm-6.my-3.text-center
          %p.display-4.counter
            %small.h4 c
            2011
          %p организуем события
        .col-lg-3.col-sm-6.my-3.text-center
          %p.display-4.counter
            %small.h4 более
            8000
          %p участников
        .col-lg-3.col-sm-6.my-3.text-center
          %p.display-4.counter
            %small.h4 из
            30
          %p городов России
      %p.h2.description__title.text-center.text_green
        Переходим от слов к делу, создаём
        %br
        %b Русское общественное движение "Всем миром!"

  %section.section.goals.py-5.text-white
    .container
      .text-center
        %h2.goals__title.section_title.border_yellow.mb-5.d-inline-block ЦЕЛИ РОД «Всем миром!»

        %p.h5 Развитие потенциала каждого человека, семьи и рода на основе традиционных культурно-нравственных ценностей, в нашем случае - ценностей русского/славянского народа.

        %p.h5 Содействие единству нации на основе общности культуры и традиций.

  %section.section.tasks.py-5.text-dark
    .container
      .row
        .col-md-6.mt-4
          .text-center
            %h2.tasks__title.section_title.d-inline-block.border_blue ЗАДАЧИ РОД «Всем миром!»
          .py-3.feature
            .ml-5.mb-0.feature__text
              Изучение наследия наших предков;
          .py-3.feature
            .ml-5.mb-0.feature__text
              возрождение и развитие лучших традиций народной культуры;
          .py-3.feature
            .ml-5.mb-0.feature__text
              Развитие семейной культуры;
          .py-3.feature
            .ml-5.mb-0.feature__text
              Продвижение здорового образа жизни;
          .py-3.feature
            .ml-5.mb-0.feature__text
              Поддержка мастеров и специалистов в области народной культуры.
        .col-md-6.mt-4
          .text-center
            %h2.tasks__title.section_title.d-inline-block.border_blue ПРАКТИЧЕСКИЕ ЗАДАЧИ
          .py-3.feature
            .ml-5.mb-0.feature__text
              Сделать фестивали солнечного цикла регулярными, воссоздать во времени традиционный солнечный крест,
              который помогал обеспечивать гармонию земного и небесного в жизни наших предков,
              помогал делам и развитию человека, общества, государства.
          .py-3.feature
            .ml-5.mb-0.feature__text
              Организовать и сделать регулярными в Тюмени массовые хороводы,
              по типу проведённого в Санкт-Петербурге на дворцовой площади.
          .py-3.feature
            .ml-5.mb-0.feature__text
              Организовать регулярные занятия Школы славянской
              культуры и работу других направлений.
          .py-3.feature
            .ml-5.mb-0.feature__text
              Создать свой волонтёрский отряд, включая «серебряных» волонтёров.
          .py-3.feature
            .ml-5.mb-0.feature__text
              В идеале – организовать детское движение
  %section.section.stats.py-5.bg-light.text-dark
    .container
      .text-center
        %h2.description__title.section_title.border_blue.mb-5.d-inline-block Порядок ваших действий
      .row
        .col-6
          %p.display-4.counter 1
          %p
            = link_to "Изучите устав", root_url+"ustav_ROD_Vsem_mirom.pdf", target: "_blank"
            ,
            = link_to "варианты взносов", root_url+"Vznosy_v_ROD.pdf", target: "_blank"
            ,
            = link_to "возможности участников", root_url+"Vozmozhnosti_chlenov_Dvizhenia.pdf", target: "_blank"
            и заполните форму ниже, для вступления в организацию.
        .col-6.border-left
          %p.display-4.counter 2
          %p Выберите свой вариант участия нашем Движении!
      .text-center
        %p.h4.mt-4 ТРАДИЦИЯ – ЭТО НЕ СОХРАНЕНИЕ ПЕПЛА, А РАЗДУВАНИЕ ОГНЯ!

  %section.section.goals.py-5
    .container
      .text-center.text-white
        %p.h2.mb-4 Заявление для вступления в Русского общественного движения «Всем миром!»
      .row
        .col-lg-8.offset-lg-2
          %form.bg-white.p-4#contract_form
            .form-row
              .form-group.col
                %label Фамилия
                %input.form-control{placeholder: "Ваша фамилия", type: "text", name: "last_name", required: true}
              .form-group.col
                %label Имя
                %input.form-control{placeholder: "Ваше имя", type: "text", name: "first_name", required: true}
              .form-group.col
                %label Отчество
                %input.form-control{placeholder: "Ваше отчество", type: "text", name: "patronymic", required: true}
              .form-group.col-lg
                %label Дата рождения
                %input.form-control{placeholder: "Ваша фамилия", type: "date", name: "birthday", required: true}
            .form-row
              .col-md-2.col
                .form-group
                  %label Серия
                  %input.form-control{placeholder: "", type: "number", name: "passport_series", required: true}
              .col-md-3.col
                .form-group
                  %label Номер паспорта
                  %input.form-control{placeholder: "", type: "number", name: "passport_number", required: true}
              .col-md
                .form-group
                  %label Выдан
                  %input.form-control{placeholder: "", type: "text", name: "passport_issued", required: true}
            .form-group
              %label Адрес проживания
              %input.form-control{placeholder: "", type: "text", name: "address", required: true}
            .form-row
              .form-group.col
                %label Email
                %input.form-control{placeholder: "email@mail.ru", type: "email", name: "email", required: true}
              .form-group.col
                %label Телефон
                %input.form-control{placeholder: "8(123)123-12-21", type: "tel", name: "phone", required: true}
            .form-group
              %label Ссылка на соц. сеть
              %input.form-control{placeholder: "https://vk.com/....", type: "text", name: "social_link", required: true}
            .form-group.form-check
              %input.form-check-input{type: "checkbox", required: true}
              %label.form-check-label
                Я ознакомился(-милась) и согласен(-на) с
                = link_to "Уставом Русского Общественного Движения «Всем миром!»", root_url+"ustav_ROD_Vsem_mirom.pdf", target: "_blank"
            .form-group.form-check
              %input.form-check-input{type: "checkbox", required: true}
              %label.form-check-label
                Я согласен (согласна) на обработку и хранение моих персональных данных.
                %a{href:"#", role:"button", "data-toggle": "modal", "data-target": "#personal_data_modal"} Узнать больше
            %button.btn.btn-primary{type: "submit"} Отправить заявление
        -# %a.btn.btn-lg.btn-light.px-5.py-2.header__btn.text-uppercase{href: 'https://skies.land/vsem-mirom', target: '_blank'} Поддержать
  .modal.fade#payment_modal{:role => "dialog", :tabindex => "-1"}
    .modal-dialog.modal-lg{:role => "document"}
      .modal-content
        .modal-body
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          .container-fluid
            .h2.text-center.underline_yellow Выберите удобный для вас способ оплаты взносов
            .alert.alert-success.fade#card_payment_alert{:role => "alert"}
              %h4.alert-heading Мы рады приветствовать вас в рядах нашего Движения!
              %p Вам на почту будет выслана информация о деятельности Движения и номер карты для оплаты взносов. Рекомендуем настроить автоплатёж, чтобы мы не тревожили вас лишний раз напоминаниями.
              %hr/
              %p.mb-0
                Рекомендуем вступить в
                %a.alert-link{:href => "https://vk.com/rus_vsem_mirom", target: '_blank'} группу Движения в социальной сети «В контакте»
            .row
              .col-lg-6.border-lg-right.mb-lg-0.mb-4
                .text-center.mt-3
                  .h3.text_blue Платформа "SKIES"
                  %svg.skies_logo.mx-5{"_ngcontent-c13" => "", :viewbox => "0 0 102 37", :xmlns => "http://www.w3.org/2000/svg"}
                    %defs{"_ngcontent-c13" => ""}
                      %style{"_ngcontent-c13" => ""}
                        :cdata
                          \.cls-1 {
                          fill-rule: evenodd;
                          }
                    %path#Skies_copy.cls-1{"_ngcontent-c13" => "", :d => "M42.911,19.761a4.443,4.443,0,0,0-.833-1.366A6.628,6.628,0,0,0,40.8,17.3q-0.744-.495-1.63-0.972-0.733-.394-1.246-0.7a5.276,5.276,0,0,1-.839-0.608,1.9,1.9,0,0,1-.473-0.638,1.942,1.942,0,0,1-.148-0.781,1.791,1.791,0,0,1,.49-1.318,1.9,1.9,0,0,1,1.412-.495,5.475,5.475,0,0,1,.845.066,6.471,6.471,0,0,1,.856.2,9.523,9.523,0,0,1,.9.322q0.461,0.191.992,0.441l1.181-2.874q-0.626-.3-1.217-0.525a11.6,11.6,0,0,0-1.175-.382,10.069,10.069,0,0,0-1.181-.239A8.833,8.833,0,0,0,38.339,8.7a7.185,7.185,0,0,0-2.262.334,4.77,4.77,0,0,0-1.719.972,4.277,4.277,0,0,0-1.093,1.563,5.411,5.411,0,0,0-.384,2.093,4.766,4.766,0,0,0,.4,2.046,5.174,5.174,0,0,0,1,1.455,6.522,6.522,0,0,0,1.27,1.008q0.673,0.406,1.217.692,0.649,0.346,1.175.656a5.873,5.873,0,0,1,.9.638,2.645,2.645,0,0,1,.579.7,1.766,1.766,0,0,1,.207.865,2.16,2.16,0,0,1-.124.745,1.465,1.465,0,0,1-.39.584,1.833,1.833,0,0,1-.7.382,3.431,3.431,0,0,1-1.034.137,6.043,6.043,0,0,1-1.187-.119A9.438,9.438,0,0,1,35,23.136q-0.6-.2-1.175-0.459t-1.146-.531v3.435a8.653,8.653,0,0,0,2.156.787,10.956,10.956,0,0,0,2.416.262,8.221,8.221,0,0,0,2.534-.358,5.3,5.3,0,0,0,1.867-1.02,4.314,4.314,0,0,0,1.158-1.6,5.359,5.359,0,0,0,.4-2.105A4.948,4.948,0,0,0,42.911,19.761ZM54.62,16.815l5.517-7.86H56.073l-3.946,5.928-1.441,2.469v-8.4H47.024V26.392h3.662V20.166l1.37-1.026,3.969,7.252h4.158Zm14.8,7.478-2.1-.978V12.032l2.1-.978v-2.1H61.569v2.1l2.1,0.978V23.315l-2.1.978v2.1h7.856v-2.1Zm13.5-.954H76.645v-4.5h5.847V15.813H76.645V11.984h6.285V8.954H72.983V26.392h9.947V23.339ZM96.3,19.761a4.445,4.445,0,0,0-.833-1.366,6.623,6.623,0,0,0-1.282-1.1q-0.744-.495-1.63-0.972-0.733-.394-1.246-0.7a5.271,5.271,0,0,1-.839-0.608A1.9,1.9,0,0,1,90,14.375a1.944,1.944,0,0,1-.148-0.781,1.791,1.791,0,0,1,.49-1.318,1.9,1.9,0,0,1,1.412-.495,5.473,5.473,0,0,1,.845.066,6.473,6.473,0,0,1,.856.2,9.533,9.533,0,0,1,.9.322q0.461,0.191.992,0.441l1.181-2.874q-0.626-.3-1.217-0.525a11.589,11.589,0,0,0-1.175-.382,10.069,10.069,0,0,0-1.181-.239A8.831,8.831,0,0,0,91.733,8.7a7.185,7.185,0,0,0-2.262.334,4.771,4.771,0,0,0-1.719.972,4.277,4.277,0,0,0-1.093,1.563,5.413,5.413,0,0,0-.384,2.093,4.766,4.766,0,0,0,.4,2.046,5.178,5.178,0,0,0,1,1.455,6.523,6.523,0,0,0,1.27,1.008q0.673,0.406,1.217.692,0.65,0.346,1.175.656a5.863,5.863,0,0,1,.9.638,2.646,2.646,0,0,1,.579.7,1.766,1.766,0,0,1,.207.865,2.16,2.16,0,0,1-.124.745,1.465,1.465,0,0,1-.39.584,1.833,1.833,0,0,1-.7.382,3.431,3.431,0,0,1-1.034.137,6.042,6.042,0,0,1-1.187-.119,9.429,9.429,0,0,1-1.193-.322q-0.6-.2-1.175-0.459t-1.146-.531v3.435a8.653,8.653,0,0,0,2.156.787,10.956,10.956,0,0,0,2.416.262,8.221,8.221,0,0,0,2.534-.358,5.3,5.3,0,0,0,1.867-1.02,4.315,4.315,0,0,0,1.158-1.6,5.361,5.361,0,0,0,.4-2.105A4.95,4.95,0,0,0,96.3,19.761Z", "data-name" => "Skies copy"}
                    %path#Shape_1_copy_10.cls-1{"_ngcontent-c13" => "", :d => "M20.959,18.982H4.557C-4.654,14.559,2.5,7.223,4.459,8.034,3.67,0.553,13.591-3.563,17.619,4.08a2.4,2.4,0,0,1,3.438,2.838C29.638,8.243,26.286,19.2,20.959,18.982Z", "data-name" => "Shape 1 copy 10"}
                    %path#Rounded_Rectangle_5_copy.cls-2{"_ngcontent-c13" => "", :d => "M7.781,24.594H19.063a0,0,0,0,1,0,0v3.219a3,3,0,0,1-3,3H10.781a3,3,0,0,1-3-3V24.594A0,0,0,0,1,7.781,24.594Z", "data-name" => "Rounded Rectangle 5 copy"}
                    %path.cls-1{"_ngcontent-c13" => "", :d => "M4.783,18.019l-1.148.388,4.209,6.587,1.339-.387Zm3.826,0.775,1.531,5.813h1.339L9.757,18.794H8.609Zm4.4,0v5.813L14.349,24.8V18.794H13.01Zm2.678,5.813,1.722-5.812h1.148L16.836,24.8Zm2.1,0,3.826-5.812,1.913-.581-4.592,6.975Z"}
                %p
                  Вы можете стать "Ангелом" нашего сообщества на платформе "SKIES".
                  Вы регистрируетесь, и оформляете ежемесячное пожертвование.
                  Далее, деньги будут сами списываться ежемесячно на указанную вами в самом начале сумму.
                  Этот метод удобен тем, что вам не надо будет уведомлять нас факте взноса, поскольку через
                  систему "SKIES" мы будем это видеть.
                .text-center
                  %a.btn.btn-info.btn-lg.payment_type{href: 'https://skies.land/vsem-mirom', target: '_blank', 'data-method': 'skies' } Через "SKIES"
              .col-lg-6.d-flex.flex-column
                .text-center.mt-3
                  .h3.text_green Банковская карта
                  %i.far.fa-credit-card.credit_card_icon.h3.display-2
                %p
                  Вы можете переводить деньги с вашей банковской карты напрямую на карту нашего сообщества.
                  Советуем настроить автоплатёж, чтобы не пропускать делать взносы.
                  Также, в комментарии к оплате или после оплаты, вам необходимо указать своё ФИО и назначение взноса,
                  чтобы нам легче было отметить факт взноса.
                .text-center.mt-auto
                  %button.btn.btn-success.btn-lg.payment_type{'data-method': 'card' } Через банковскую карту

  #personal_data_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLongTitle", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %h5.modal-title Согласие на обработку персональных данных
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body
          %p
            Предоставляя свои персональные данные Пользователь даёт согласие на обработку,
            хранение и использование своих персональных данных на основании ФЗ № 152-ФЗ
            «О персональных данных» от 27.07.2006 г. в следующих целях:
          %ul
            %li Сбор информации о учстниках Русского Общественного Движения «Всем миром!»

          %p
            Под персональными данными подразумевается любая информация личного характера,
            позволяющая установить личность Пользователя такая как:

          %ul
            %li Фамилия, Имя, Отчество
            %li Дата рождения
            %li Контактный телефон
            %li Адрес электронной почты
            %li Адрес проживания
            %li Паспортные данные
            %li Ссылка на профиль в социальной сети
          %p
            Персональные данные Пользователей хранятся исключительно на электронных носителях
            и обрабатываются с использованием автоматизированных систем, за исключением случаев,
            когда неавтоматизированная обработка персональных данных необходима в связи
            с исполнением требований законодательства.

            Компания обязуется не передавать полученные персональные данные третьим лицам,
            за исключением следующих случаев:
          %ul
            %li
              По запросам уполномоченных органов государственной власти РФ только по основаниям и в порядке,
              установленным законодательством РФ
          %p
            Компания оставляет за собой право вносить изменения в одностороннем порядке в настоящие правила,
            при условии, что изменения не противоречат действующему законодательству РФ.
            Изменения условий настоящих правил вступают в силу после их публикации на Сайте.
= render 'public/partials/footer'
