!!!
%html
  %head
    %title Admin
    = csrf_meta_tags
    = stylesheet_link_tag  'admin', media: 'all'
    %link{:href => "https://fonts.googleapis.com/css?family=Muli:400,300", :rel => "stylesheet", :type => "text/css"}/
  %body
    .wrapper
      .sidebar{"data-active-color" => "danger", "data-background-color" => "white"}
        /
          Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
          Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
        .sidebar-wrapper
          .logo
            =link_to admin_path, class: 'simple-text' do
              Панель Управления
          %ul.nav
            %li{class: current_page?(admin_articles_path) ? 'active' : ''}
              =link_to admin_articles_path, class: 'nav-link' do
                %i.fas.fa-align-left
                %p.d-inline.ml-2 Посты
            %li{class: current_page?(admin_users_path) ? 'active' : ''}
              =link_to admin_users_path, class: 'nav-link' do
                %i.fas.fa-users
                %p.d-inline.ml-2 Пользователи
            %li{class: current_page?(admin_photo_albums_path) ? 'active' : ''}
              =link_to admin_photo_albums_path, class: 'nav-link' do
                %i.far.fa-images
                %p.d-inline.ml-2 Фотоальбомы
            %li{class: current_page?(admin_video_albums_path) ? 'active' : ''}
              =link_to admin_video_albums_path, class: 'nav-link' do
                %i.fas.fa-video
                %p.d-inline.ml-2 Видеоальбомы
            %li{class: current_page?(admin_masters_path) ? 'active' : ''}
              =link_to admin_masters_path, class: 'nav-link' do
                %i.fas.fa-users
                %p.d-inline.ml-2 Мастера
            %li{class: current_page?(admin_members_path) ? 'active' : ''}
              =link_to admin_members_path, class: 'nav-link' do
                %i.fas.fa-users
                %p.d-inline.ml-2 Члены сообщества
            %hr
            %li.border-top
              =link_to destroy_user_session_path, class: 'nav-link', method: :delete do
                %i.fas.fa-sign-out-alt
                %p.d-inline.ml-2 Выход
      .main-panel
        %nav.navbar.navbar-expand-lg.navbar-default.py-0
          .container-fluid
            .navbar-header.d-flex.align-items-center.w-100
              -# = if @adminPageTitle
              -#   %a.navbar-brand{:href => "#"}= @adminPageTitle
              %button.navbar-toggle.navbar-toggler.ml-auto{:type => "button"}
                %span.sr-only Toggle navigation
                %span.icon-bar.bar1
                %span.icon-bar.bar2
                %span.icon-bar.bar3
            .collapse.navbar-collapse
              %ul.nav.navbar-nav.ml-auto
                %li
                  %a{:href => "/"}
                    %i.fas.fa-home
                    %p.d-inline.ml-2 На главную
        .content
          .container-fluid
            .row
              .col-md-12
                .card
                  .card-body
                    = yield
    - if @admin_photo_album
      #editInfoModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "editInfoModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog{:role => "document"}
          .modal-content
            .modal-header
              %h5#editInfoModalLabel.modal-title Редактирование изображения
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
            .modal-body
              .form-group
                %label{:for => "descTextarea"} Описание
                %textarea#descTextarea.form-control{:rows => "3"}
              .form-group
                %label{:for => "photographer"} Автор фотографии
                %select.form-control#photographer
                  - User.each do |user|
                    %option{value: user.id}= user.email
              .form-group
                %label{:for => "photographerName"} Или имя автора
                %input#photographerName.form-control
            .modal-footer
              %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Закрыть
              %button.btn.btn-primary#changePhotoInfo{:type => "button"} Сохранить

    - if @admin_video_album && controller.action_name == "edit"
      #addVideoModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "videoModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog{:role => "document"}
          .modal-content
            = render 'admin/videos/create_form', album: @admin_video_album.id



    - if @admin_video_album && controller.action_name == "edit"
      #editVideoModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "editVideoModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog{:role => "document"}
          .modal-content#editVideoModalBody
    - if @admin_members
      #add_payment_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog{:role => "document"}
          .modal-content
            .modal-header
              %h5#exampleModalLabel.modal-title Добавление оплаты
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
            .modal-body
              %form#payment_form
                %input#member_input{type: "hidden", value:'', name: 'member'}
                .form-group
                  %label Внесённая сумма
                  %input.form-control{placeholder: "100", :type => "integer", name: 'sum'}/
                .form-group
                  %label{:for => "exampleInputPassword1"} Способ внесения
                  %select.form-control{name: 'payment_method'}
                    %option{value: 'card'} Банковская Карта
                    %option{value: 'skies'} SKIES
                    %option{value: 'cash'} Наличные
                .form-group
                  %label{:for => "exampleInputPassword1"} Тип взноса
                  %select.form-control{name: 'payment_type'}
                    %option{value: 'entrance'} Вступительный взнос
                    %option{value: 'membership'} Членский взнос
                .form-group
                  %label Дата внесения
                  %input.form-control{placeholder: "Дата внесения", type: "date", name: "payment_date", value: Time.now.strftime("%Y-%m-%d")}
                %button.btn.btn-primary{:type => "submit"} Добавить


    = javascript_include_tag 'admin'
    = custom_bootstrap_flash
    %script{:defer => "defer", :src => "https://use.fontawesome.com/releases/v5.0.6/js/all.js"}
