!!!
%html
  %head
    = render 'layouts/settings/meta_tags'
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = render 'application/favicon'
    = render 'layouts/settings/google_analytics'
    %link{:href => "//cdnjs.cloudflare.com/ajax/libs/bricklayer/0.4.2/bricklayer.min.css", :rel => "stylesheet"}/
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.7.1/css/all.css", :integrity => "sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr", :rel => "stylesheet"}/
  %body
    = render 'public/partials/loader'
    = render 'public/partials/nav'
    = yield
    -# = render 'public/partials/footer'
    = render 'layouts/settings/yandex_metrika'
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/bricklayer/0.4.2/bricklayer.min.js"}
    = javascript_include_tag 'application'
    = custom_bootstrap_flash
    / Go to www.addthis.com/dashboard to customize your tools
    %script{:src => "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53e3c85f0c84cf02", :type => "text/javascript"}
