#krasnayaGorka{
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), image-url('woodtex.jpg');;
  background-repeat: repeat;
  font-family: Ossem;

  .header{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), image-url('landings/krasnayaGorka/header.jpg');
    background-size: cover;
    background-position: top left;
    background-attachment: fixed;
  }

  .header__title{
    font-size: 100px;
    line-height: .95;
    margin-bottom: 2rem;
    font-family: slavan;
  }

  .header__desc{
    font-size: 30px;
    font-weight: 300;
  }

  .section_title{
    font-weight: 600;
    font-size: 65px;
    font-family: slavan;
    color: #313131;
  }

  .section_desc{
    margin-bottom: 4rem;
    font-weight: 300;
    font-size: 20px;
    color: #3c3c3c;
  }

  .event__title{
    font-size: 40px;
    font-family: slavan;
    font-weight: 500;
    color: #313131;
  }

  .events__title{
    border-bottom: 6px solid #e86256;
  }

  .event__title-border_yellow{
    border-bottom: 4px solid #FAC526;
  }

  .event__title-border_green{
    border-bottom: 3px solid #379c3f;
  }

  section{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .cta{
    background-color: rgb(167, 102, 102);
    background: linear-gradient(rgba(167, 102, 102, 0.7), rgba(167, 102, 102, 0.7)), image-url('woodtex.jpg');
    .lead{
      font-size: 30px;
      font-weight: 200;
    }
  }

  @media (max-width: 1450px) {
    .header__title{
      font-size: 90px;
    }

    .header__desc{
      font-size: 25px;
    }
  }

  @media (max-width:767px) {
    .card-columns {
      column-count: 2;
    }
    .gallery__carousel{
      .slick-arrow{
        display: none !important;
      }
    }
  }

  @media (max-width:575px) {
    .schedule_btn{
      font-size: 22px;
    }
    .slick-arrow{
      color: white;
    }
    .next-slide-btn{
      right: 20px !important;
    }
    .prev-slide-btn{
      left: 20px !important;
    }
    .card-columns {
      column-count: 1;
    }
  }

  @media (max-width: 767px){
    .header__title {
      font-size: 50px;
      line-height: .95;
      margin-bottom: 2rem;
      font-family: slavan;
    }
    .section_title {
      font-weight: 600;
      font-size: 40px;
      font-family: slavan;
      line-height: .95;
    }
    .types__desc{
      font-weight: 300;
      margin: 4rem 1rem;
    }
    .footer__contact{
      border-left: 0;
      border-bottom: 1px solid white;
    }
  }
}
