#marrige{
  //========================
  //=========HEADER=========
  //========================

  .header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), image-url('landings/marrige/header.jpg');
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    // background-size:auto 130vh;
  }

  //========================
  //=========SECTON=========
  //========================

  section{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .section__title {
    font-weight: 600;
    font-size: 65px;
    font-family: slavan;
  }

  .section__desc {
    margin-bottom: 4rem;
    font-weight: 300;
    font-size: 20px;
  }


  //========================
  //==========TYPES=========
  //========================

  .types{
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), image-url('woodtex.jpg');
  }

  .type__title{
    font-size: 30px;
    font-family: slavan;
  }

  //========================
  //==========IDEAS=========
  //========================

  // .ideas{
  //   padding-top: 0;
  // }

  .ideas__title{
    margin-bottom: 4rem;
  }

  .idea__img {
    background-size: cover;
    min-height: 500px;
    background-position: center;
  }

  .idea__img_first{
    background-image: image-url('landings/marrige/idea-meet.jpg');
  }
  .idea__img_second{
    background-image: image-url('landings/marrige/idea-party.jpg');
  }
  .idea__img_third{
    background-image: image-url('landings/marrige/idea-ceremony.jpg');
  }
  .idea__img_fourth{
    background-image: image-url('landings/marrige/idea-challange.jpg');
  }
  .idea__img_fifth{
    background-image: image-url('landings/marrige/idea-manage.jpg');
  }


  .idea__title {
    font-weight: 600;
    font-size: 35px;
    font-family: slavan;
  }

  .idea__desc {
    // margin-bottom: 4rem;
    font-weight: 300;
    font-size: 20px;
  }

  //========================
  //==========HELP==========
  //========================

  .help-type__title{
    font-size: 35px;
    font-family: slavan;
  }

  .help-type__subtype-title{
    font-size: 25px;
  }

  .help-type__subtype-desc{
    font-size: 18px;
  }

  .phone{
    font-weight: 600;
    font-size: 50px;
    font-family: slavan;
  }


  @media (max-width: 767px){
    .header__title {
      font-size: 50px;
      line-height: .95;
      margin-bottom: 2rem;
      font-family: slavan;
    }
    .section__title {
      font-weight: 600;
      font-size: 50px;
      font-family: slavan;
    }
  }
}
