#rody{
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), image-url('woodtex.jpg');;
  background-repeat: repeat;
  font-family: Ossem;

  .header{
    background: linear-gradient(to right, rgba(0, 108, 111, 0.8), rgba(0, 108, 111, 0.1)), image-url('landings/rody/header.jpg');
    background-size: cover;
    background-position: center center;
    // background-attachment: fixed;
    color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .header__title{
    font-family: 'slavan';
    font-size: 80px;
    @media (max-width: 767px){
      font-size: 60px;
    }
  }

  .section_title{
    font-family: 'Ardeco';
    font-size: 50px;
    border-bottom-style: solid;
    border-bottom-width: 6px;
  }
  .features__title{
    border-bottom: 6px solid #6FAE03;
  }
  .feature{
    font-size: 18px;
    &::before{
      content: '';
      position: absolute;
      top:50%;
      left: 0;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #6BD2F9;
    }
  }


  .courses{
    background-color: white;
  }

  .courses__title{
    border-bottom: 6px solid #F9C43C;
  }




  .underline_red{
    border-bottom: 2px solid #FF0000;
  }
  .underline_green{
    border-bottom: 2px solid #6FAE03;
  }
  .underline_yellow{
    border-bottom: 2px solid #F9C43C;
  }
  .underline_blue{
    border-bottom: 2px solid #6BD2F9;
  }

  .background_red{
    background-color: #FF0000;
  }
  .background_green{
    background-color: #6FAE03;
  }
  .background_yellow{
    background-color: #F9C43C;
  }
  .background_blue{
    background-color: #6BD2F9;
  }


  .border_red{
    border-color: #FF0000;
  }
  .border_green{
    border-color: #6FAE03;
  }
  .border_yellow{
    border-color: #F9C43C;
  }
  .border_blue{
    border-color: #6BD2F9;
  }

  .border_full_thin{
    border-width: 3px;
    border-style: solid;
  }

  .border_full_bold{
    border-width: 6px;
    border-style: solid;
  }



  .courses__feature{
    &::before{
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #6FAE03;
    }
  }

  .course, .courses__features{
    border-width: 5px;
    border-style: solid;
    background-color: white;
  }

  .button_green_fill{
    background-color: #6FAE03;
    border-color: #6FAE03;
    border-radius: 0;
    font-size: 18px;
  }

  .button_red_fill{
    background-color: #FF0000;
    border-color: #FF0000;
    border-radius: 0;
    font-size: 18px;
  }

  .button_yellow_fill{
    background-color: #F9C43C;
    border-color: #F9C43C;
    border-radius: 0;
    font-size: 18px;
  }

  .button_blue_fill{
    background-color: #6BD2F9;
    border-color: #6BD2F9;
    border-radius: 0;
    font-size: 18px;
  }

  .consultation__title{
    border-width: 3px;
  }

  .promotion{
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: #559798;
  }


  .people__name:hover{
    color: #FF0000;
    text-decoration: underline;
    cursor: pointer;
  }
}
