#slavBazar{
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), image-url('woodtex.jpg');;
  background-repeat: repeat;

  .header{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), image-url('landings/slavBazar/header.jpg');
    background-size: cover;
    background-position: top left;
    background-attachment: fixed;
  }

  .header__title{
    font-size: 100px;
    line-height: .95;
    margin-bottom: 2rem;
    font-family: slavan;
  }

  .header__desc{
    font-size: 30px;
    font-weight: 300;
  }

  .event__img{
    -webkit-box-shadow: 0px 10px 30px -14px rgba(0,0,0,.75);
    -moz-box-shadow: 0px 10px 30px -14px rgba(0,0,0,.75);
    box-shadow: 0px 10px 30px -14px rgba(0,0,0,.75);
  }

  .video-container{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }

  .video-container__video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .master__image{
    border-radius: 20px;
  }

  .types__desc{
    font-weight: 300;
    margin: 4rem 5rem;
    font-family: slavan
  }

  .section_title{
    font-weight: 600;
    font-size: 65px;
    font-family: slavan;
    color: #313131;
  }

  .section_desc{
    margin-bottom: 4rem;
    font-weight: 300;
    font-size: 20px;
    color: #3c3c3c;
  }

  .event__title{
    font-size: 40px;
    font-family: slavan;
    font-weight: 500;
    color: #313131;
  }

  .gallery{
    background: linear-gradient(rgba(193, 160, 116, 0.6), rgba(193, 160, 116, 0.6)), image-url('woodtex.jpg');
  }

  section{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .map{
    background-color: rgb(138, 167, 102);
    background: linear-gradient(rgba(138, 167, 102, 0.6), rgba(138, 167, 102, 0.6)), image-url('woodtex.jpg');
  }

  .cta{
    background-color: rgb(167, 102, 102);
    background: linear-gradient(rgba(167, 102, 102, 0.7), rgba(167, 102, 102, 0.7)), image-url('woodtex.jpg');
    .lead{
      font-size: 30px;
      font-weight: 200;
    }
  }

  .schedule_btn{
    margin-top: 2rem;
    font-size: 28px;
    font-family: slavan;
  }

  g#State_Outline{
    fill: white !important;
  }

  .navbar{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1f1f1f;
  }

  .navbar-brand{
    font-family: slavan;
    font-size: 28px;
    line-height: 1.05;
  }

  .slick-slide{
    margin: 10px;
    cursor: grab;
  }

  .slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    outline: none;
    border: 0;
    color: rgb(80, 80, 80);
    border-radius: 50%;
    font-size: 60px;
    z-index: 200;
    opacity: .7;
    cursor: pointer;
  }

  .slick-arrow:hover{
    opacity: 1;
  }

  .next-slide-btn{
    right: -40px !important;
  }

  .prev-slide-btn{
    left: -40px !important;
  }

  .card-title{
    font-family: slavan;
    font-size: 25px;
  }

  .footer__contact{
    border-left: 1px solid white
  }

  .footer__grant{
    max-height: 70px;
  }

  #activity-accordion .btn{
    text-align: left;
    white-space: normal;
  }

  .talksAboutUs{
    background-color: rgba(41, 65, 115, 0.7);
    background: linear-gradient(rgba(41, 65, 115, 0.7), rgba(41, 65, 115, 0.7)), image-url('woodtex.jpg');
  }

  @media (max-width: 1450px) {
    .header__title{
      font-size: 90px;
    }

    .header__desc{
      font-size: 25px;
    }
  }

  @media (max-width:767px) {
    .card-columns {
      column-count: 2;
    }
    .gallery__carousel{
      .slick-arrow{
        display: none !important;
      }
    }
  }

  @media (max-width:575px) {
    .schedule_btn{
      font-size: 22px;
    }
    .slick-arrow{
      color: white;
    }
    .next-slide-btn{
      right: 20px !important;
    }
    .prev-slide-btn{
      left: 20px !important;
    }
    .card-columns {
      column-count: 1;
    }
  }

  @media (max-width: 767px){
    .header__title {
      font-size: 50px;
      line-height: .95;
      margin-bottom: 2rem;
      font-family: slavan;
    }
    .section_title {
      font-weight: 600;
      font-size: 40px;
      font-family: slavan;
      line-height: .95;
    }
    .types__desc{
      font-weight: 300;
      margin: 4rem 1rem;
    }
    .footer__contact{
      border-left: 0;
      border-bottom: 1px solid white;
    }
  }
}
