#support{
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), image-url('woodtex.jpg');;
  background-repeat: repeat;
  font-family: Ossem;

  .header{
    background: linear-gradient(to right, rgba(0, 108, 111, 0.8), rgba(0, 108, 111, 0.1)), image-url('landings/vsem_mirom/header.jpg');
    background-size: cover;
    background-position: center center;
    // background-attachment: fixed;
    color: white;
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  .header__title{
    font-family: 'slavan';
    font-size: 80px;
    @media (max-width: 767px){
      font-size: 60px;
    }
    span{
      font-family: 'Ardeco';
    }
  }

  .section_title{
    font-family: 'Ardeco';
    font-size: 50px;
    border-bottom-style: solid;
    border-bottom-width: 6px;
  }
  .features__title{
    border-bottom: 6px solid #6FAE03;
  }
  .feature{
    font-size: 18px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top:30px;
      left: 0;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #6FAE03;
    }
  }

  .counter{
    margin-top: 1rem;
    font-family: 'slavan';
    margin-bottom: 1rem;
  }

  .underline_red{
    border-bottom: 2px solid #FF0000;
  }
  .underline_green{
    border-bottom: 2px solid #6FAE03;
  }
  .underline_yellow{
    border-bottom: 2px solid #F9C43C;
  }
  .underline_blue{
    border-bottom: 2px solid #6BD2F9;
  }

  .background_red{
    background-color: #FF0000;
  }
  .background_green{
    background-color: #6FAE03;
  }
  .background_yellow{
    background-color: #F9C43C;
  }
  .background_blue{
    background-color: #6BD2F9;
  }


  .border_red{
    border-color: #FF0000;
  }
  .border_green{
    border-color: #6FAE03;
  }
  .border_yellow{
    border-color: #F9C43C;
  }
  .border_blue{
    border-color: #6BD2F9;
  }

  .text_red{
    color: #FF0000;
  }
  .text_green{
    color: #6FAE03;
  }
  .text_yellow{
    color: #F9C43C;
  }
  .text_blue{
    color: #6BD2F9;
  }

  .border_full_thin{
    border-width: 3px;
    border-style: solid;
  }

  .border_full_bold{
    border-width: 6px;
    border-style: solid;
  }

  .goals{
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: #559798;
  }

  .skies_logo{
    fill: #08B7D5;
  }

  .credit_card_icon{
    color: #6FAE03;
  }

  .alert{
    &.fade {
      opacity: 0;
      -webkit-transition: opacity 0.15s linear;
      -moz-transition: opacity 0.15s linear;
      -o-transition: opacity 0.15s linear;
      transition: opacity 0.15s linear;
      display: none;
    }
    &.fade.in {
      opacity: 1;
      display: block;
    }
  }

  @media (min-width: 992px){
    .border-lg-right{
      border-right: 1px solid #dee2e6 !important;
    }
  }
}
